[2019-04-09 11:18] jeanga opened #1 "Any unicode overloads of the string related functions possible?"
Hi,

Is there anything preventing the various std::string&std::string_view functions to be overloaded with their wstring&wstring_view equivalent?

This library is a very welcome and useful addition ! Thanks!
Jean

[2019-04-09 12:09] jeanga commented on #1
I have implemented basic wide strings functionality in the attached file.

[magic_enum.zip](https://github.com/Neargye/magic_enum/files/3058829/magic_enum.zip)

I hope you find it useful.
Jean
PS: Only tested with MSVC 2019

[2019-04-09 14:38] Neargye commented on #1
Ok, I understand your request, I add on weekend new overloads for name's functions.

[2019-04-21 22:25] Neargye commented on #1
In C++17/20 we have `string, wstring, u8string , u16string, u32string`, so I think should not add overloads for each type of string.
You can convert the result to any desired string type.

[2019-04-22 06:24] jeanga commented on #1
While I agree that std::string can be converted to any other string, I would loose the benefits constexpr machinery in magic_enum.
This library was really promising though. I whish you all the best with it.
Thanks!

[2019-04-22 09:00] Neargye commented on #1
Library returns string_view, you can construct wstring_view in compile time.

[2019-04-22 17:19] Neargye commented on #1
@jeanga  in what cases do you need wstring?

[2019-04-22 20:59] jeanga commented on #1
I develop on Windows and Windows is natively Unicode and wchar_t (aka WCHAR) based for its APIs. So, most of the strings I manipulate are UTF16. std::wstring is my default choice for strings and convert all the things is a pain and slower.

[2019-04-23 10:30] Neargye commented on #1
Use this dev version [magic_enum.zip](https://github.com/Neargye/magic_enum/files/3107065/magic_enum.zip)

You can change `using string = std::string_view;` to `using string = std::wstring_view;`

Later I add more friendly api to change string type.

[2019-04-23 13:46] jeanga commented on #1
Great!
I will test this and report here.
Thank you!

[2019-05-01 20:11] gocarlos opened #3 "Add conan support"
It would be great to use this lib using cmake and conan

[2019-05-01 20:56] Neargye commented on #3
Cmake install already added.

[2019-05-02 15:06] #1 closed, assigned to Neargye

[2019-05-03 06:25] mintyc opened #4 "GCC 8.2 support"
With imminent versions of centos, Ubuntu etc still on GCC 8.x stream, consider a workaround for the issues preventing GCC 8 support.

The patches to GCC 8 compiler to fix the issues aren't really possible to use either for a lot of organisations or individuals.

[2019-05-03 07:06] Neargye commented on #4
`magic_enum` use intrinsics - namely `PRETTY_FUNCTION`, on `GCC < 9` `PRETTY_FUNCTION` not can get name enum.

At the moment I do not know how to make support `GCC < 9`.

[2019-07-04 00:49] khoitd1997 opened #6 "Compilation error using clang"
Hi I recently switched my project from using ```gcc``` to ```clang```, and ran into this error:
[code]
Clang version:
[code]
Gcc version:
[code]
Flag list:
[code]
Thank you for your work in this library, please let me know if I can provide more info.

[2019-07-04 07:45] Neargye commented on #6
Hi, -std=c++17 flag?

[2019-07-04 17:59] khoitd1997 commented on #6
Sorry, forgot to list that one, it's ```-std=gnu++17```

[2019-07-04 18:51] Neargye commented on #6
Hi @khoitd1997,

I checked the compilation parameters, and the trip is really something goes wrong with them.
I'll try to debug on the weekend. Could you please give the text of the error from GCC and clang?

[2019-07-04 19:15] khoitd1997 commented on #6
Hi, ```gcc``` compiles fine, it was just ```clang``` that was causing the problem, the error trace is quite long.
[code]

[2019-07-04 19:24] khoitd1997 commented on #6
Got this error
[code]

[2019-07-04 19:27] Neargye commented on #6
Yeap, sorry I got some fail in fix)
[magic_enum.zip](https://github.com/Neargye/magic_enum/files/3360336/magic_enum.zip)
This must be work.

[2019-07-04 19:36] khoitd1997 commented on #6
It works! How did you fix it? I tried to find a fix but things look right since they were already all ```constexpr```

[2019-07-04 19:42] Neargye commented on #6
It's seems bug in STL, error in static_cast<const char_type*>(__builtin_memchr(__s, __a, __n)); with - fsanitize=address -fsanitize=undefined, I think.
Let's keep it's open, while I push fix in master.

[2019-07-04 19:43] Neargye commented on #6
I notes `note: cast from 'void *' is not allowed in a constant expression return static_cast<const char_type*>(__builtin_memchr(__s, __a, __n));`

[2019-07-04 22:00] #6 closed, assigned to Neargye

[2019-07-04 22:00] Neargye commented on #6
@khoitd1997  Could you please test new commit? It's a more good fix.

[2019-07-04 22:31] khoitd1997 commented on #6
Tested it, work well, thank you!

[2019-07-04 22:44] Neargye commented on #6
@khoitd1997  Thanks for issues, I will add this fix for next release.

[2019-08-15 19:06] gchoinka opened #9 "try online with Compiler Explorer"
As an alternative to wandbox
https://godbolt.org/z/lX6L-B

to get the hash for the include link just go to the file and press the y key

[2019-08-15 19:12] Neargye commented on #9
Hm,
[code]
did not think about it earlier, funny.

[2019-08-22 15:21] braindevices opened #10 "the magic_enum::enum_names does not work when try to assign to global variable"
`magic_enum::enum_names` seems only works in function.
[code]

[2019-08-22 15:31] Neargye commented on #10
Hi @braindevices , you use clang?
I check this issues on msvc and gcc all ok, clang give out some random string.

[2019-08-22 15:35] braindevices commented on #10
yes! Both clang7 and clang8 has the problem.

[2019-08-22 15:37] Neargye commented on #10
Thanks for these issues, I need some time to debug this.

[2019-08-22 15:40] Neargye commented on #10
Now, unfortunately, I can only advise you not to use global variables, apparently, some features of the clan are affecting.

[2019-08-22 15:40] braindevices commented on #10
The problem seems happens when you try to return string_view in constexpr. When you return string_view inside function it is OK. But when you return string_view in global it gives something like `top level ...`
But if  you directly return string literal, this won't happens.

[2019-08-22 15:42] Neargye commented on #10
I will try copy string in `static_string` like this https://gcc.godbolt.org/z/CAyzmA. Maybe this can help.

[2019-08-23 13:49] JuliusRapp commented on #4
`magic_enum` could provide some code-generation utility. Modern compilers then can always use the current technique to "reflect" the enums. Library developers can use the code-generation utility to emit the fallback code for non-modern compilers. The fallback code can also be included by modern compilers (in order to detect consistency issues, i.e. the need to re-generate the fallback code).

I do

[2019-08-23 14:23] Neargye commented on #4
I’m a bit busy at work right now, but I’m sure to try playing with your offer.

Maybe for generating enum data for non-modern compilers recommend using https://github.com/aantron/better-enums?

[2019-08-24 07:42] Neargye commented on #3
Hi @gocarlos, I add the latest release to Conan. Could you please check all ok with Conan?

[2019-08-24 08:16] #3 closed, assigned to Neargye

[2019-08-24 08:20] Neargye commented on #9
add to reamde https://github.com/Neargye/magic_enum/commit/a9f8797ff2ccff4f025ecd767e25beccb4090b6b

[2019-08-24 08:20] #9 closed, assigned to Neargye

[2019-08-24 10:13] Neargye commented on #4
Hi @JuliusRapp could you describe your idea in more detail?
on non-modern generate_enum_fallbacks will not work because enum_entries will return an empty array.

[2019-08-24 16:01] Neargye opened #11 "Is it necessary to add different conversion functions to enum?"
Now we have
1. `std::optional<E> enum_cast(std::string_view value) noexcept`
2. `std::optional<E> enum_cast(std::underlying_type_t<E> value) noexcept`

Is it necessary to add the following functions? Will it be useful to someone?
1. `std::optional<E> enum_from_string_nothrow(std::string_view value) noexcept`
2. `std::optional<E> enum_from_string_nocase_nothrow(std::string_view value) noexcept`
3.

[2019-08-26 07:17] JuliusRapp commented on #4
Yes, it is correct that `generate_enum_fallbacks` will not work on, say, GCC 8. In fact, I prefer a compile-time error in that case, and that is what I used in my hack. Anyway, sorry for not providing any usage hints. Here the procedure I have in mind:

1. Use a fully supported compiler (say, GCC 9) to generate the fallback code.
2. Include the fallback code.
3. Use non-modern compiler (say, GCC 8

[2019-08-26 09:36] Neargye commented on #4
Can use macros to generate fallback code.

[2019-08-26 09:45] Neargye commented on #4
But honestly, I don’t like this solution, it contradicts the original idea - reflection without additional code.

[2019-08-26 10:37] JuliusRapp commented on #4
Yes, I understand that. My fallback suggestion was just meant to provide an intermediate solution for older compilers. Once old-compiler support can be dropped, the fallback is no longer required. I still see advantages of this hybrid solution: (1) no macros required and (2) fully supported compilers can use reflection in order to guarantee correctness. As an alternative to my hack, the syntax cou

[2019-08-26 10:50] Neargye commented on #4
Yes, I like the idea `compile-time error`, soon I add error and traits to check compiler support. For now, add https://github.com/Neargye/magic_enum/blob/2e61a86b2f2a8bf14b70180e4e99613a9b91bd51/include/magic_enum.hpp#L136.

About fallback I think I need to think more.

[2019-08-26 17:07] Neargye commented on #10
Hi @braindevices  please check dev branch, on my test issues is fixed.

dev: https://wandbox.org/permlink/fmUqnAwxsthepRtZ
master: https://wandbox.org/permlink/2mShvcCgQbP9PffX

[2019-08-26 17:41] Neargye commented on #4
Add compile-time error and traits to check for compiler support - check dev, feel free give feedback.

[2019-08-26 19:56] rdeterre commented on #3
Hello @Neargye,

The Conan package in [your bintray repository](https://bintray.com/neargye/conan-packages) works great, thanks. Would you be willing to submit it for inclusion in Conan-Center? This would make the package reachable for anyone that uses Conan, without having to add your personal repository.

https://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html

Thanks.

[2019-08-26 20:15] Neargye commented on #3
Hi @rdeterre, Thanks for the test.
I planed release 0.6.1, then push nameof to conan-center.

[2019-08-27 15:36] Neargye commented on #10
Add fix to master, all test pass.

[2019-08-28 20:37] #10 closed, assigned to Neargye

[2019-08-29 02:14] alexkaratarakis commented on #11
Is
`std::optional<E> enum_from_string_nothrow(std::string_view value) noexcept`
different from:
`std::optional<E> enum_cast(std::string_view value) noexcept`
?

[2019-08-29 08:01] Neargye commented on #11
No.
`std::optional<E> enum_cast(std::string_view value) noexcept` == `std::optional<E> enum_from_string_nothrow(std::string_view value) noexcept`
`std::optional<E> enum_cast(std::underlying_type_t<E> value) noexcept` == `std::optional<E> enum_from_integral_nothrow(std::underlying_type_t<E> value) noexcept`

[2019-09-06 10:35] gocarlos commented on #3
even better now: https://blog.conan.io/2019/09/04/A-new-binary-building-service-for-Conan-center-packages.html

[2019-09-10 02:12] ezyang opened #12 "O(1) conversion to location of enum in enum_values"
Is there a way to do O(1) conversion of Color::BLUE to 1 (rather than 4, as `enum_integer` would do)?

Motivation: I have an enum generated by an external tool which may have gaps in it, and I need to pack the enums into a contiguous sequence of integers starting at 0 (so that I can more efficiently store it in memory somewhere else). I don't need this packing to be stable across invocations of th

[2019-09-10 07:26] Neargye commented on #12
If I understand the question correctly, you can generate unordered_map to map enum -> index.

[2019-09-10 11:01] Neargye commented on #12
[code]

[2019-09-10 11:02] Neargye commented on #12
For getting map in compile-time can use https://github.com/serge-sans-paille/frozen.

[2019-09-10 14:00] ezyang commented on #12
That's... a bit more kit than I would have expected, but I suppose it precisely answers the question :)

[2019-09-10 15:47] Neargye commented on #12
Or you can use binaryserch, because enum values sorted.

[2019-09-12 13:17] #4 closed, assigned to Neargye

[2019-09-13 13:07] Neargye commented on #12
@ezyang I can add O(1) `enum_index(E value)` function if it's will be useful.
If enum value out of range, returns size enum or -1?

Example:
[code]

[2019-09-13 13:58] ezyang commented on #12
@Neargye I am using your workarounds to implement in my project. If `enum_index` were added, I would use it instead, but in terms of absolute utility, I think this is more of an aesthetic question. In any case, out of bound errors should be consistent with your existing API, which I think implies that you should get an `optional<int>` out.

[2019-09-13 14:43] Neargye commented on #12
Check dev branch, add `enum_index`, plus allows to get index at compile time.

[2019-09-13 14:48] ezyang commented on #12
That is one sweet constexpr array! Thank you!

[2019-09-13 14:52] Neargye commented on #12
Yes, it turned out a little easier than map :D

[2019-09-22 01:17] alexkaratarakis commented on #12
Very nice addition, I am trying to do the same as @ezyang
I am currently (at compile time) detecting if values are contiguous, and, if not, doing binary_search on `magic_enum::enum_values<T>()`, but this will make it even better and `O(1)`.

Does this hold for all compilers?

[2019-09-22 10:13] Neargye commented on #12
I add a test, and it's work on all compilers that support magic_enum(https://github.com/Neargye/magic_enum#compiler-compatibility).

I am currently working on stabilizing the new version, and I think this enum_index  will be included in the new release.

[2019-09-25 13:22] Trass3r opened #14 "reduce memory footprint"
For a runtime value to string conversion it generates a list of strings and a string_view map. In theory data usage could be reduced to 1/4 by using an index plus a small size squeezed into a uint32_t instead of string_view if the strings could be forced into a contiguous array.

[2019-09-25 15:04] Neargye commented on #14
Check https://github.com/Neargye/magic_enum/commit/55dc79600dc84aa5f35c411751426d80e93c730f

New header for test https://github.com/Neargye/magic_enum/blob/55dc79600dc84aa5f35c411751426d80e93c730f/include/magic_enum.hpp

[2019-09-25 15:24] Neargye commented on #14
https://godbolt.org/z/ySzprC
vs
https://godbolt.org/z/N_NIa3
vs
https://godbolt.org/z/4GKZZ4

Which is better for you?

[2019-09-25 16:04] Trass3r commented on #14
So # 2 is using zero-terminated strings and # 3 a separate string size array using smaller base types. Which amounts to the same size cost in this common case of short enum names.
Edit: Ah no, # 3 is more of a sparsity optimization?!

If you actually use the size the code is a bit different of course:
https://godbolt.org/z/hn1eHK vs https://godbolt.org/z/XyFkeA

[2019-09-25 16:56] Neargye commented on #14
3 only an array of valid string sizes and store array index.

To be honest, I don’t think that these optimizations will win much for real code. So I can’t decide what to choose 2 or 3

[2019-09-25 17:00] Neargye commented on #14
range = 128
1 sizeof(std::string_view) * range // 16 * range
2 sizeof(const char*) * range // 8 * range
3 sizeof(uint16_t) * range  + sizeof(std::string_view) * count // 2 * range   + 16 * count

For small enums 3 better, for big 2. These are rough calculations, correct me if I am wrong.

[2019-09-25 17:55] Trass3r commented on #14
I don't think 3 is worth it, you should optimize the min/max macro values as a user anyway (e.g. to use non-negative enum values).
2 could come in handy for passing them to APIs not accepting a length parameter and does save half the memory but introduces strlen() calls in other cases. I guess it could still be a good solution.

[2019-09-26 09:41] Neargye commented on #12
Expected fix in v0.6.1

[2019-09-26 11:57] Neargye commented on #14
How about this https://godbolt.org/z/iGvmls

[2019-09-26 11:59] Neargye commented on #14
If sparsity -> Compresses size and indexes
Else -> Finds min and max, and uses the full range

For InstrInfo min = 0, max = 124.

This looks like a good optimization for msvc, before it optimized the worst.

[2019-09-26 17:24] Neargye commented on #14
In dev branch final version, I think merge it's on master.

[2019-09-29 11:44] #12 closed, assigned to Neargye

[2019-09-29 11:44] Neargye commented on #14
Fix in master

[2019-09-29 11:44] #14 closed, assigned to Neargye

[2019-09-29 11:44] Neargye commented on #12
Fix in master

[2019-10-01 05:50] zelon opened #15 "enum_values cannot get values if enum is forward declaration"
If a enum is forward declaration, enum_values() cannot get valid values.

`enum class MyEnum;`
`for (auto enum_value : magic_enum::enum_values<MyEnum>()) {`
`  // some print statement`
`}`

Is there any solution?

[2019-10-01 07:13] zelon commented on #15
How about add a static_assert like below?

`template <typename E, typename D = detail::enable_if_enum_t<E>>`
`[[nodiscard]] constexpr auto enum_values() noexcept {`
`  static_assert(detail::check_enum_v<E, D>, "magic_enum::enum_values requires enum type.");`
`  constexpr auto values = detail::values_v<D>;`
` static_assert(values.size() > 0, "magic_enum::enum_values requires enum implementation.");

[2019-10-01 09:11] Neargye commented on #15
@zelon I think it's good idea, I will add this.

[2019-10-01 12:00] #15 closed, assigned to Neargye

[2019-10-01 12:00] Neargye commented on #15
Unfortunately, enum can't reflect if the enum is a forward declaration.
Add static_assert to check this case. Thx @zelon.

[2019-10-01 15:44] zelon commented on #15
It works fine. Thx @Neargye

[2019-10-02 15:13] #11 closed, assigned to nobody

[2019-10-03 07:03] Neargye opened #17 "Revie EnumT& vs EnumT"
See https://github.com/Neargye/magic_enum/pull/16

[2019-10-03 12:08] Neargye commented on #17
fixed in master 0b262f7

[2019-10-03 12:08] #17 closed, assigned to Neargye

[2019-11-11 23:13] mlindner opened #21 "Example of invalid code compiling"
This code should be invalid and shouldn't compile but it does, and even optimizes to have 0 be returned implying the string ":dog" is equal to the enum horse.

https://godbolt.org/z/5UvrpB

Why are we allowed to compare a `enum foo` vs an `optional<enum foo>` with boolean operations.

[2019-11-12 09:12] Neargye commented on #21
Hi @mlindner,
1. `magic_enum::enum_cast<animal>(":dog");` return nullopt.
2. std::optional has operator==( const optional<T>& opt, const T& value); see https://en.cppreference.com/w/cpp/utility/optional/operator_cmp
3. Chech example https://wandbox.org/permlink/VmJwn6rndwTGOche, ":dog" is __not equal__ to the enum horse.

[2019-11-16 11:12] #21 closed, assigned to Neargye

[2019-12-05 11:07] RBJRBJ opened #22 "No name with enum values over 128"
I have an enum like this:
enum QUEUE_ENTRY_TYPE : unsigned int {
	QUEUE_ENTRY_UNKNOWN,
	TRN_GET_PROCESS_LIST = 100,
	TRN_GET_TOP_WINDOWS,
	TRN_GET_PROCESS_WINDOWS = 200,
	TRN_GET_CHILD_WINDOWS,
	TRN_GET_POPUP_WINDOWS = 300,
	TRN_GET_WINDOW_INFO,...

But when I try to get the name with the code below it does not work:
QUEUE_ENTRY_TYPE qet = TRN_GET_CHILD_WINDOWS;
auto qet_name = magic_enum::enum_na

[2019-12-05 11:12] Neargye commented on #22
Hi, You can read the limitations at the link https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md

If after reading you have any questions or problems, please write here, it will help to improve the documentation

[2020-01-25 13:29] VelocityRa opened #23 "Support values greater than INT16_MAX"
Also I'm not sure why this is not mentioned anywhere in the documentation, seems kind of important, no?

[2020-01-25 13:57] VelocityRa commented on #23
Not sure about other compilers but on MSVC it's not even near that amount, I tested with max = `0x300` and compilation fails with:
[code]

[2020-01-25 13:58] VelocityRa commented on #23
So I suppose getting support for >INT16_MAX with the approach `magic_enum` is using is hopeless...

[2020-01-25 14:28] Neargye commented on #23
Hi @VelocityRa, I will check it's later, and update doc.

For the big max value, you can test https://docs.microsoft.com/en-us/cpp/build/reference/constexpr-control-constexpr-evaluation?view=vs-2019.

Also, magic_enum does not pretend to be a silver bullet, it was originally developed for small enums from my work.

[2020-01-25 14:34] VelocityRa commented on #23
Hi @Neargye, right I figured.
Closing this issue, no point for it to remain open.

[2020-01-25 14:34] #23 closed, assigned to Neargye

[2020-01-25 18:55] Neargye commented on #22
Update docs

[2020-01-25 18:55] #22 closed, assigned to Neargye

[2020-02-02 00:07] no-more-secrets opened #25 "Enum type name?"
Is there a way to get the name of an enum type?  E.g.:

[code]

then `name` would be "e_color".

[2020-02-02 07:22] Neargye commented on #25
Hi @dpacbach,

https://github.com/Neargye/magic_enum/blob/52d7323bcab2be4b32191ef587825736c5eef879/include/magic_enum.hpp#L344

[code]

[2020-02-02 07:34] Neargye commented on #25
To get the name of any type, see https://github.com/Neargye/nameof.

[2020-02-03 17:22] no-more-secrets commented on #25
Thanks for the answer and the pointer to `nameof`.  I think the `magic_enum::enum_traits` is what I was looking for.

[2020-02-03 17:22] #25 closed, assigned to Neargye

[2020-02-07 02:44] Xis-Ytneves opened #26 "E0028 expression must have a constant value"
/ E2719 integer constant must be greater than or equal to zero
 on this line ...
inline constexpr auto type_name_v = n<E>();

any ideas what these errors could be? it compiles and works ... just not sure why intellisense is unhappy

[2020-02-07 17:18] Neargye commented on #26
Hi @Xis-Ytneves, it seems code analysis is too complex for IntelliSense.

[2020-02-07 17:19] Neargye commented on #26
I would just suggest ignoring IntelliSense errors for the file magic_enum.hpp.

[2020-02-11 00:53] Xis-Ytneves commented on #26
thanks, will do!

[2020-02-11 07:34] #26 closed, assigned to nobody

[2020-02-14 02:08] jrmuizel opened #27 "Include some documentation on how it works"
It would be nice to read an overview of the technique used here. I tried reading through it but got a lost around `n()`

[2020-02-14 10:13] Neargye commented on #27
Hi @jrmuizel,
It's working by magic!

But seriously:
* `n()` use a compiler-specific hack (based on __PRETTY_FUNCTION__ / __FUNCSIG__) to get enum name in compile-time.
* We go through the given interval `enum_range`, and find all the enumerations with a name and same in `enum_values`.
* Then, using the indexes stored in the array, we get the names and etc.
* Read more about [limitations](https://

[2020-02-21 13:37] morph208 opened #28 "static assertion failed with gcc 9.2.1"
Hello,

We have been trying to use magic_enum::enum_count. It works well with Visual Studio 2017 but does not compile with gcc 9.2.1. Here is the code:

[code]

And with gcc 9.2.1 we have the following issue:

We have the latest version of MagicEnum as of today. We have looked at the limitations, we don't seem to be in one of those situations. Did we miss anything? It looks like it is supposed to

[2020-02-21 14:01] Neargye commented on #28
Hi @morph208,

Example gcc9.2: https://godbolt.org/z/d3cXHr

This situation may occur if forward declared  enum: https://godbolt.org/z/h9b_SK

[2020-02-21 14:10] morph208 commented on #28
Thanks for your very quick reply. It's not forward declared but maybe I cannot use it like I do. I'm trying to get the size of the enum to declare an std::array of that size. Since the count it's constexpr I would have expected to work. I do not call it from the main like you did in your example, I should probably have told you that earlier. Sorry about that. Anyway it compiles and works as expect

[2020-02-21 16:46] Neargye commented on #28
Thanks for update example, I will check it later.

[2020-02-22 19:20] #27 closed, assigned to Neargye

[2020-02-25 11:54] Neargye commented on #28
Hi @morph208,
Could you help to debug and run some code
[code]

[2020-03-06 16:07] morph208 commented on #28
Hey @Neargye

Sorry for the delay. I was very busy with a release. Anyway, here the output you needed:

Obviously the output was generated on Windows with VS 2017. I cannot give you an output on gcc 9.2.1 since it does not even compile.

[2020-03-14 21:59] souaso90 opened #32 "Conan - magic_enum package is not easily reachable"
The recipe given in the integration section of the README file to download the library using conan is not accurate:

_"If you are using Conan to manage your dependencies, merely add magic_enum/x.y.z@neargye/stable to your conan's requires, where x.y.z is the release version you want to use."_

 The package is not available in conan-center, so nothing is found juste by following the previous steps.

[2020-03-20 00:04] shreyasbharath opened #33 "What would happen if this is used with an enum bitmask?"

[2020-03-20 15:01] Neargye commented on #33
Enum value must be in range [MAGIC_ENUM_RANGE_MIN, MAGIC_ENUM_RANGE_MAX].
By default MAGIC_ENUM_RANGE_MIN = -128, MAGIC_ENUM_RANGE_MAX = 128.

Enum like:
[code]
Will be work without settings, for more large enum check [limitations](https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md)

[2020-03-21 12:29] albertvaka opened #34 "Intellisense hangs forever when using magic_enum since 0.6.1 on x86 projects"
Ctrl+clicking on anything in my project stalls waiting for intellisense to complete if I include magic_enum 0.6.1 or newer. Version 0.6.0 doesn't have this problem.

**Edit**: Only happens on 32bit projects.

Tested in Visual Studio 2019 and Visual Studio 2017.

[2020-03-21 21:31] albertvaka commented on #34
Created a single-file project that reproduces the problem:

[Project1.zip](https://github.com/Neargye/magic_enum/files/4364167/Project1.zip)

[2020-03-21 21:43] shreyasbharath commented on #33
Thanks for the response!

What if you have something like this?

[code]

[2020-03-22 09:13] Neargye commented on #34
Thanks for example, I will check this.

[2020-03-22 14:13] jbhelm opened #35 "Enhancement: Optional comparison predicate for enum_cast(std::string_view value) [case-insensitive, etc]"
It would be useful to optionally pass a comparison predicate to use for the equality comparison in `enum_cast(std::string_view value)`. In my case, I'd like to perform case-insensitive comparisons.

[2020-03-22 14:23] Neargye commented on #35
Yes, good idea

[2020-03-22 14:26] Neargye commented on #33
BIT_9, BIT_10 and etc will not reflect.

[2020-03-23 02:19] shreyasbharath commented on #33
Okay, thanks. Is it worth adding this to the limitations section?

[2020-03-31 22:16] Gringoniceguy commented on #34
i have same issue

[2020-04-01 10:32] Neargye commented on #34
@albertvaka @Gringoniceguy could you please check this version? [magic_enum.zip](https://github.com/Neargye/magic_enum/files/4414495/magic_enum.zip)

[2020-04-02 10:02] albertvaka commented on #34
It seems to still have the issue :( Thanks a lot for looking into this, though :D

[2020-04-02 12:09] Neargye commented on #35
@jbhelm update in master.
Now it's work
[code]

[2020-04-02 12:09] #35 closed, assigned to Neargye

[2020-04-02 12:10] #33 closed, assigned to Neargye

[2020-04-02 17:57] jbhelm commented on #35
Thanks! I tried it out, works great for my use case.

[2020-04-03 09:44] Gringoniceguy commented on #34
I think this might not be a issue with the magic_enum but with vs i am gonna report this too microsoft

[2020-04-03 14:29] albertvaka commented on #34
Makes sense, taking into account it works everywhere else. It's still annoying when trying to use magic_enum  with MSVC, though. Maybe it can be stated as a known issue so people can stay on 0.6.0 if they target x86 on MSVC?

[2020-04-23 11:54] morph208 commented on #28
Any news on this? I haven’t heard from you since early March.

[2020-05-04 17:39] SoylentGraham opened #36 "Aliased enums behaving oddly"
From the limitations, I see that aliases don't work, this would be fine, but I seem to be getting an odd case where the first-use of a value, is NOT the one used, furthermore, I'm getting `0x0` for a string, instead of the alias. (Either in my case would be fine, but not an empty string)

THEN, debugging in vs17, when I look at the `strings` table (which I guess is all the names baked into an arra

[2020-05-05 09:10] Neargye commented on #36
Hi @SoylentGraham, thanks for issues.
It looks very strange, could you please give your compilation flags?

[2020-05-05 09:14] Neargye commented on #28
Hi @morph208,
Sorry for the long answer, to be honest, I had a very busy time.
I don’t know yet where the is a problem. Could you tell the OS and the version of the compiler on which the bug is occur, I will try to play it in the virtual machine.

[2020-05-05 09:20] SoylentGraham commented on #36
`/JMC /permissive- /GS /W3 /Zc:wchar_t /ZI /Gm- /Od /sdl /Fd"D:\PopCap\PopCap.visualstudio\PopCap_x64_Debug\Temp\vc141.pdb" /Zc:inline /D "_DEBUG" /D "_WINDOWS" /D "_UNICODE" /D "UNICODE" /errorReport:prompt /WX- /Zc:forScope /RTC1 /Gd /MTd /FC /Fa"D:\PopCap\PopCap.visualstudio\PopCap_x64_Debug\Temp\" /EHsc /nologo /Fo"D:\PopCap\PopCap.visualstudio\PopCap_x64_Debug\Temp\" /Fp"D:\PopCap\PopCap.visu

[2020-05-05 09:22] SoylentGraham commented on #36
Also note: I'm using the latest (I was a bit behind, but updating to master made no difference)

[2020-05-05 11:40] morph208 commented on #28
No worries, totally understandable. The OS is Linux Mint 19 and the compiler is gcc 9.2.1.

[2020-05-05 12:01] SoylentGraham commented on #36
Seems to be fine in xcode (`CLANG_CXX_LANGUAGE_STANDARD = gnu++14`)

[2020-05-11 03:58] shreyasbharath opened #37 "Support `c_str()` for compatibility with legacy C-Style APIs"
Imagine a scenario like the below test. Because magic_enum returns a `string_view`, it is not compatible with C-style APIs.

Can we do anything to support legacy C-style code? The below code will result in a read buffer overflow as it'll keep reading past the end of the string until it hits a null terminator.

[code]

[2020-05-11 09:07] Neargye commented on #37
Hi @shreyasbharath, update in master.
Now example code is work ok.

[2020-05-11 09:19] shreyasbharath commented on #37
Wow @Neargye thank you for the quick fix/response.

Can you also please add some tests/documentation on how to use? Can we create an overloaded function that returns a const char*? Thanks.

[2020-05-11 09:43] Neargye commented on #37
I would not want to add a bunch of overloads. Now the library stores zero terminated string, so taking a string through the `data()` will work correctly.

[2020-05-11 09:45] Neargye commented on #36
@SoylentGraham It looks like the behavior of aliases has broken on vs17, but is correct on vs19.

I’m still investigating this problem, but it seems necessary to add to the documentation that the order with aliases is undefined.

[2020-05-11 09:56] SoylentGraham commented on #36
Is the undefined order causing the empty strings? or is that a side effect? (In my case, I don't mind which comes up, but null strings are a problem)

[2020-05-11 10:18] Neargye commented on #36
Unfortunately, yes, adding aliases occur empty strings, because the compiler cannot output either the actual value or the alias.

I can offer such a workaround
[code]

[2020-05-11 11:01] #37 closed, assigned to Neargye

[2020-05-11 11:01] Neargye commented on #37
add some notices to doc

[2020-05-11 11:23] Neargye commented on #34
I still could not achieve good work on x86, it seems that there is simply not enough memory for complex templates.

Added a description of this problem in limitations.

[2020-05-11 11:23] #34 closed, assigned to Neargye

[2020-05-11 20:39] shreyasbharath commented on #37
Thanks again 🎉

[2020-05-21 11:54] Neargye commented on #34
@albertvaka @Gringoniceguy could you please check this version?
[magic_enum.zip](https://github.com/Neargye/magic_enum/files/4662293/magic_enum.zip)

[2020-05-21 12:31] albertvaka commented on #34
Looks like its working 👏

[2020-05-21 12:48] Neargye commented on #34
Thanks @albertvaka, will add this to the new release.

[2020-05-21 21:30] CD3 opened #39 "MAGIC_ENUM_SUPPORTED does not check clang or MSVC versions"
According to the README, magic_enum is supported by clang >= 5 and MSVS 2017, but the check to set MAGIC_ENUM_SUPPORTED only checks the version number for gcc:
[code]
Shouldn't this be
[code]

[2020-05-22 00:33] albertvaka commented on #34
Nice! What was the fix in the end?

[2020-05-22 07:05] Neargye commented on #34
It was necessary to rewrite the order of calculation of values ​​and caching of arrays.

[2020-05-22 13:55] Neargye commented on #39
Will be rechecking this.

[2020-05-24 12:04] Neargye commented on #34
Fix in master branch

[2020-05-25 04:53] zweistein22 commented on #28
Hello,
I have the same compile error
"magic_enum::enum_range requires enum implementation or valid max and min."
 , but in a special snapcraft.yaml build.
Same source code as on linux ubuntu 18 same compiler gcc 9.3, everything same, but  since yesterday inside snapcraft.yaml compilation broken . I played around with LC_LOCAL and libgtk2.0-dev, but cannot reproduce yet... compilation always broken

[2020-05-29 05:40] ga2k opened #40 "Proposed enhancement to enum_name"
_EDIT: Thinking a bit harder, it might be better that this functionality be moved to a new method, perhaps called_ `enum_name_of_bits_set` _or something and leave enum_name alone..._

Hi, I have no clue about github or pull requests, so I thought I'd write my proposed enhancement to enum_name here...

If an enum contains bitfield values, there exists already the ability to bitwise AND and OR the v

[2020-05-31 12:14] Neargye commented on #36
https://developercommunity.visualstudio.com/content/problem/734005/-funcsig-doesnt-resolve-non-type-template-paramete.html

[2020-05-31 12:14] #36 closed, assigned to Neargye

[2020-05-31 12:17] SoylentGraham commented on #36
I thought this wasn't a bug in 2019?

Is it still broken in 2017?

On Sun, 31 May 2020 at 1:14 pm, Daniil Goncharov <notifications@github.com>
wrote:

--

- Graham Reeves
- http://www.grahamreeves.com/

[2020-05-31 12:19] Neargye commented on #36
@SoylentGraham In 2019, it works correctly. In 2017, unfortunately, with aliasing of enums, its has broken.

[2020-06-04 08:27] Neargye commented on #39
Fix in master. Thanks.

[2020-06-04 08:27] #39 closed, assigned to Neargye

[2020-06-05 13:22] Neargye commented on #25
Now added new API `magic_enum::enum_type_name`
[code]

[2020-06-06 16:51] no-more-secrets commented on #25
Thank you

[2020-06-19 06:47] Neargye commented on #32
Now, https://github.com/conan-io/conan-center-index/pull/1407 and https://github.com/conan-io/conan-center-index/pull/1864 closed, does this solve the issues?

[2020-06-19 06:49] Neargye commented on #32
Hi @gocarlos!
Many thanks for help with Conan! I have a couple of questions, I'm still not experienced with Conan.
1. magic_enum and nameof now available in conan-center?
2. is it necessary `conanfile.py` in repo?

[2020-06-19 07:15] gocarlos commented on #32
Hi @Neargye

No its not necessary, though I'd add a link to the conan center (badges still not available) and change the readme to with the new dependency name

[2020-06-19 07:17] Neargye commented on #32
@gocarlos If you want to do PR, I will be glad! Or I will do it myself later.

[2020-06-23 11:41] Neargye commented on #32
@gocarlos  whats mean 'link to the conan center' ? `magic_enum/x.y.z` or another?

[2020-06-23 11:53] gocarlos commented on #32
This :
https://conan.io/center/magic_enum/0.6.6

And

magic_enum/x.y.z

[2020-06-27 06:22] #32 closed, assigned to Neargye

[2020-06-27 11:21] Neargye commented on #40
Hi @ga2k,

Sorry for a long answer, adding full flags functionality requires more time.

While we can use this function, it works the way you want.

[code]

[2020-06-28 14:06] Vennor commented on #40
Thank you both for this! I'd really like to see it implemented in the library.

[2020-06-28 14:11] Neargye commented on #40
Hi @Vennor,
I work on full enum flag api, it's need to add enum-flag-value and enum-flag-name enum-flag-cast and etc.

[2020-06-29 03:04] ga2k commented on #40
Thanks for that. I'll try it out and see how it goes.

One thing I noticed earlier, when working with flags, is the enormously
large arrays it creates. For example. an enum with 16 bit values creates
an array behind it 65535 elements long. Obviously, if every bit
combination was possible, this should be the size of the array. But in
actual use the bit combinations are many many times smaller, and

[2020-06-29 03:56] ga2k commented on #40
Hi, that all works as expected. Thanks a heap.

But, there is always more, isn't there?

enum_cast can't handle converting an int  with a bitfield or a string with a bitfield back into an enum.

Here's an example. I've made the output mirror the code as closely as I could.

[code]
and this is the output
[code]
I think that fixing this will be A LOT more work than enum_flag_name was...

[2020-06-29 08:43] Neargye commented on #40
@Vennor  @ga2k, I work on flags, you can play with it in branches dev https://github.com/Neargye/magic_enum/tree/dev

[2020-06-29 11:55] Neargye commented on #40
Which name `enum_flag_name` or `enum_flags_name`? `enum_name_flag` or `enum_name_flags`?
Or merge with `enum_name` and not make a separate function ?

[2020-06-29 17:13] Vennor commented on #40
I think it depends a lot on the details. As far as I remember magic_enum doesn't support multiple keys for the same value. But where are flags in this? Consider the code below.
[code]
I imagine that the output of  `enum_name_flag(color::yellow)` will be `red|green`. What if I wanted to get `yellow` though? I need another way to do this, like `enum_name(color::yellow)`. This, I believe, is the main

[2020-06-29 18:03] Neargye commented on #40
@Vennor  Thanks for your review.

As for the aliases, need to recheck all API, it may even be easier to create a separate namespace with duplicate API but with different behavior for flag.

For example
[code]
* `magic_enum::enum_count<color>() -> 6`
* `magic_enum::flags::enum_count<color>() -> 3`  or `magic_enum::enum_flag_count<color>() -> 3`

[2020-07-02 13:05] ga2k commented on #40
I like enum_name_something, I think it flow better with the thinking process of a name.

I like enum_name_flags, because you are likely to have multiple ones set. If you don't, using enum_name does the same thing.

[2020-07-02 13:06] ga2k commented on #40
You make a good argument for enum_name_flag. I hadn't considered the other "..s" cases, which return an array. It should definitely not indicate via mnemonics that it'll return an array.

So I change my vote to enum_name_flag.

But I wouldn't hate it to be integrated into a single enum_name function. Semantically, it makes just as much sense to be there. It's returning a name. It just happens to b

[2020-07-02 13:12] ga2k commented on #40
As for

`color c(color::yellow)`

Method 1:

`enum_name_flag` could look and see if there is a enum by name, not by value. It would look for an actual enum named `yellow` and return that. Otherwise look for an alias `yellow` and return the component flags `red|green`

This would be many times slower than a value search, though.

Method 2:

Something can be done in the enum's traits like `enum_rang

[2020-07-05 10:17] Neargye commented on #40
Update dev branch, can play with, and report on the problems you find.

Example:

[code]
[code]
[code]

[2020-07-05 23:46] davidhunter22 opened #42 "C++ language standard, issues with explicit setting to 17"
I recently tried the library via vcpkg on MSVC. I had a problem that the following property is specified in magic_enumConfig.cmake

`INTERFACE_COMPILE_FEATURES "cxx_std_17"`

This is a problem as our code builds uses what MSVC calls "std::c++latest" which is newer than 17. Im not sure what should happen but it appears that the magic enum value overrides ours so we get downgraded to 17 which means

[2020-07-06 05:54] Neargye commented on #42
Thanks for your report. I will add this change in the next release.

[2020-07-06 06:05] #42 closed, assigned to Neargye

[2020-07-06 06:54] ga2k commented on #40
Hey, thanks! I'll try it and let you know.

[2020-07-10 01:47] jjpepper opened #44 "doesn't appear in latest VCPKG"
vcpkg search magic_enum yields nothing with latest vcpkg.  The readme says it should be in vcpkg.  What's going on?

[2020-07-10 01:50] jjpepper commented on #44
It's actually magic-enum.  The readme could be clearer by making the link text pointing to the magic-enum vcpkg portfile actually be called `magic-enum` and not `magic_enum`.

[2020-07-10 07:31] Neargye commented on #44
Thank you for your issues. Corrected the description in readme.

[2020-07-11 12:46] #44 closed, assigned to nobody

[2020-08-14 15:59] Neargye commented on #40
Did you have time to view the new flags-API? @Vennor @ga2k
I'm wondering if a separate namespace is OK for flags-api?

[2020-08-15 07:35] ga2k commented on #40
This is working perfectly. And better, I've tried up to 16 flags at once, and that works, too. I don't know if that is because of code changes, or MSVS doing better at compiling, but it's great news.

I tried enum_cast from an integer, and it worked as expected. Casting from a std::string says "Not implemented" so I guess that's in the works.

I prefer it in it's own namespace "flags", keeps thing

[2020-08-15 17:53] Neargye commented on #40
@Vennor @ga2k add flags-api in master. Fell free to test it's. If found any bugs, please open new issues.

[2020-08-15 17:53] #40 closed, assigned to Neargye

[2020-08-16 18:31] Vennor commented on #40
Thank you @Neargye! Sorry, I didn't have the opportunity to test it yet.

[2020-08-18 07:22] gjasny opened #45 "Please improve compatibility with "degraded" C++17"
Hello,

I'd like to use magic_enum on macOS but unfortunately I have to keep backward compatibility to an older 10.9 release.
That makes things like `std::optional` unavailable:

[code]

I could see three ways of working around:

1. Provide `enum_foo_or_throw()` methods which completely avoid using `std::optional` and throw instead.
2. Provide your own `optional` implementation (like better enums

[2020-08-19 12:33] Neargye commented on #45
Check https://github.com/Neargye/magic_enum/tree/using_optional/include

[code]

It looks a little strange, but it seems that this is what will be optimal.

[2020-08-19 15:48] Neargye commented on #45
https://github.com/TartanLlama/optional or https://github.com/martinmoene/optional-lite as boost::optional alternative

[2020-08-19 16:32] Neargye commented on #45
Or this syntax

[code]

[2020-08-20 16:41] switch623 opened #46 "Constexpr must be initialized by constant expression error VxWorks"
Hello,

I am currently using C++17 with LLVM clang version 9.0.1.1 in a VxWorks environment and when I attempt to compile example/example.cpp I am prompted with (along with many other constexpr variables):

[code]

I have the latest version of Magic_Enum and to my understanding, it's supposed to work with clang >=5.

Thank you very much for your work, please let me know if I can provide more info.

[2020-08-20 22:39] Neargye commented on #46
Hi,
Could you please send result command clang --version?

[2020-08-21 11:14] gjasny commented on #45
I had to replace `std::nullopt` with `{}` and also add a missing `<string>` header. Afterwards it worked fine.

[2020-08-21 12:37] switch623 commented on #46
Hi,
Clang version 9.0.1.1
This may be unique to the Windriver VxWorks environment.

[2020-08-25 15:26] mhbackes opened #47 "Enchancement: custom enum names"
Hi, thanks for doing a great job with this library.

`magic_enum` works amazingly well in most of the cases, but sometimes, the string conversion must be different from the enum value identifier.

For example, I would like to be able to convert the enum value `Red` to `"the red color"` instead of `"Red"` and also convert `"the red color"` back to `Red`. That's not possible in the current version o

[2020-08-25 16:05] Neargye commented on #47
Hi,

Now registering сustom enum name does not look so convenient, but it is possible in the current version.

[code]

It might be worth adding a macro to register names.

[2020-08-25 16:42] mhbackes commented on #47
Interesting, thanks for the quick response.

[2020-08-30 07:46] Neargye commented on #45
@gjasny fix in master

Here example of using
[code]

[2020-08-30 07:46] #45 closed, assigned to Neargye

[2020-08-30 07:48] Neargye commented on #47
@mhbackes
Add example in the master.
You can test this functionality. If you have any ideas on how to improve the overload syntax, open a new issues.

[2020-08-30 07:48] #47 closed, assigned to Neargye

[2020-09-03 22:22] mhbackes opened #50 "Better syntax for custom enum names"
Following up #47.

I'm not really happy with the current syntax for defining custom enum names, specially because you need to deal with functions defined in the namespace `detail` which does not seem right. Furthermore, a function named `n` is not a very intuitive name for people using the library.

Threrefore, I have 2 suggestions on how to improve it:
1. Add a function `template <auto V> std::st

[2020-09-04 07:13] Neargye commented on #50
@mhbackes

Is this functionality really necessary? First, it will clog the user class/namespace. Secondly, there may be some bad with ADL.

[2020-09-04 14:08] hadjTahar opened #51 "Can you add mingw support?"

[2020-09-04 14:38] mhbackes commented on #50
@Neargye, no, definitely not.

I'm just saying that if this is ever added to the API, it should be clear (in the documentation) that the macro should not be used inside class/namespaces.

[2020-09-05 07:39] Neargye commented on #50
@mhbackes  how about this https://github.com/Neargye/magic_enum/blob/e7309583de648bae5a4405a422c8912ce963a114/example/example_custom_name.cpp

[2020-09-05 13:13] Neargye commented on #50
[code]

or
[code]

[2020-09-06 12:35] Neargye commented on #50
[code]

Hm, maybe the switch option will be better.

[2020-09-06 12:39] Neargye commented on #50
@mhbackes you can check to customize branch https://github.com/Neargye/magic_enum/tree/customize.

I think to highlight everything in a separate namespace for customization. is this a normal name `namespace magic_enum::customize`?

[2020-09-06 21:07] mhbackes commented on #50
@Neargye, sounds amazing.

I think the switch case is indeed the best option. This should work really well. Thanks!

[2020-09-06 21:14] mhbackes commented on #50
One last question (very minor detail): does the function need to be `auto`?
[code]
I feel like declaring `std::string_view` as return gives a slight easier syntax.

[2020-09-06 21:30] Neargye commented on #50
Yes.
I think I'll correct the syntax before taking it to the master.

[2020-09-07 09:55] Neargye commented on #50
update in master

[2020-09-07 09:55] #50 closed, assigned to Neargye

[2020-09-15 13:05] egorpugin opened #53 "Build error"
0.6.6 and master.
The latest clang, libstdc++ 10.2 (from fedora 32).

Code:
[code]

Error:
[code]

Adding `-fbracket-depth=260` helps.

[2020-09-15 13:07] egorpugin commented on #28
https://github.com/Neargye/magic_enum/issues/53 looks similar to this one.

[2020-09-15 21:26] #53 closed, assigned to Neargye

[2020-09-15 21:29] Neargye commented on #46
Could you please recheck on the latest master?
I fix https://github.com/Neargye/magic_enum/issues/53, looks similar.

[2020-09-16 14:44] switch623 commented on #46
Hello,
I rechecked on the latest master and was given:
`magic_enum.hpp:440:23: error: constexpr variable 'values_v<Color, false>' must be initialized by a constant expression.
inline constexpr auto values_v = values<E, IsFlags>();`

[2020-09-30 11:25] mateuszzz88 opened #55 "Trait for checking if enum fits allowed range"
I need constexpr check that will tell me if for given enum, magic_enum will work:
[code]
Specifically `EnumT` in above code may have values outside scope of MAGIC_ENUM_RANGE_MIN, MAGIC_ENUM_RANGE_MAX

[2020-09-30 12:09] Neargye commented on #55
You can do this in the following ways.
[code]

this will be work in constexpr  and in runtine

[2020-09-30 12:16] Neargye commented on #55
If EnumT  may have values outside min_max range, magic_enum can't detect this(

[2020-09-30 12:26] mateuszzz88 commented on #55
I started searching for this because I had some compilation problems with "big enums". Strangely I am unable to produce minimal example for those problems. Anyway,
```if constexpr (magic_enum::is_magic_enum_supported && magic_enum::detail::count_v<EnumT> > 0)``` seems to work for me. I borrowed count_v > 0 check from static assert that was triggering for me.
I confess that I am not certain what ex

[2020-10-01 07:54] Neargye commented on #55
Yes, I understand your problem now, I will think about what functionality to add to solve it easier.

Now I offer the following solution, which does not look very nice, but it is reliable
[code]

[2020-10-13 07:32] jh0x opened #57 "Unexpected codegen with gcc 9.3 for a small enum"
https://godbolt.org/z/vchq9h

[2020-10-13 08:39] ga2k opened #58 "Released to vcpkg?"
Hi, the newest version hasn't been sent to vcpkg yet. That caused me a heart attack! Namespace customize doesn't exist in the old version.

[2020-10-13 09:52] Neargye commented on #58
Hi, will prepare a new release soon.

[2020-10-13 10:38] Neargye commented on #55
Fix in master, now check magic_enum::detail::count_v not need
[code]

[2020-10-13 11:11] #55 closed, assigned to Neargye

[2020-10-14 17:48] Neargye commented on #58
https://github.com/microsoft/vcpkg/pull/14046

[2020-10-14 18:34] Neargye commented on #51
Hi @Berrima, local tests show that magic_enum already working on mingw.

Could you please test too?

[2020-10-14 20:35] hadjTahar commented on #51
Here is the code sample and the compiler output when I use Mingw32/64, I am using Qt creator IDE and works fine when using MSVC2017, hope that's helpful.

`

    #include <iostream>
    #include "magic_enum.hpp"

    class Test
    {
    public:
        enum class Color { RED = 2, BLUE = 4, GREEN = 8 };

        void doTest()
        {
            Color color = Color::RED;
            auto color_n

[2020-10-15 22:21] Neargye commented on #58
Version on vcpkg updated.

[2020-10-15 22:21] #58 closed, assigned to Neargye

[2020-10-16 10:48] Neargye commented on #57
This is some kind of strange GCC problem, I do not yet know how to get around this, except how to advise not to use global constexpr variables.

[2020-10-16 21:31] Neargye commented on #57
To fix this, need try not to use name values ​​as C-strings.
After all, magic_enum is a C++17 library!

[code]
[code]

https://godbolt.org/z/s1Pz9s

[2020-10-16 21:31] #57 closed, assigned to Neargye

[2020-10-17 08:40] Neargye commented on #51
@Berrima
Could you please tell which versions you are using?

[2020-10-17 08:57] hadjTahar commented on #51
Hi Neargye,

I am using Mingw v 7.3.0, it comes with Qt 5.14 installation in the Windows version.

[2020-10-17 13:42] Neargye commented on #51
Mingw  version must be 9.1 or higher.

[2020-10-18 15:32] hadjTahar commented on #51
Yes, it works with 9.2.0, I just got used to the version that Qt installer supplies and I never bothered to check.

[2020-10-19 07:20] Neargye commented on #51
Update readme, add Mingw version

[2020-10-19 07:20] #51 closed, assigned to Neargye

[2020-11-22 12:31] egorodet opened #63 "Convenient way to heck if bitmask contains enum flag"
It would be nice to have a convenient way to check if the bitmask value contains enum flag, for example:
[code]
This won't compile because there's no auomatic `enum class` casting to `bool` or `uint64_t`, so it won't compile without proper casting or comparison against `0` enum value of the bitwise expression result:
[code]
or
[code]
Would it be possible to support this use-case out of the box and

[2020-11-22 12:52] Neargye commented on #63
You can use API from 'magic_enum::flags', `magic_enum::flags::enum_contains(animal_mask & AnimalFlags::CanFly)`

exapmle: https://wandbox.org/permlink/H6Mey6SdLKwJ5sno

[2020-11-22 12:56] egorodet commented on #63
Cool! Did not notice that it's already available. The only problem is that it's a little too long function name with all namespaces.

[2020-11-22 12:58] Neargye commented on #63
`using namespace magic_enum::flags` ?
or
`using namespace yaer = magic_enum::flags`

[2020-11-22 13:01] egorodet commented on #63
Yep, it should work with proper alias placement in a common header. Thank you!

[2020-11-22 13:01] #63 closed, assigned to Neargye

[2020-11-24 14:38] pemessier opened #64 "Add skill Dereferencable"
I use the following skill to add the dereference operator (like in std::optional for example):

[code]

Example usage:
[code]

[2020-11-24 14:41] pemessier commented on #64
I also added [[nodiscard]], but this could be a separate ticket

[2020-11-24 21:25] Neargye commented on #64
Could you please show an example of use where it would be useful in this library?

[2020-11-25 15:09] fatal-err opened #65 "Clang Defect with enums inside a templated class"
There's a problem with (even the current trunk version) of clang with this code:
[code]
https://godbolt.org/z/KWWE1f

[code]

The above code works in GCC though.

The problem seems to appear when the enum is inside a templated class.

[2020-11-25 17:58] Neargye commented on #65
I do not yet know what is the reason for this behavior.

But workaround `static_assert(are_values_sequential<decltype(test<int>::Color::RED)>);` - work on clang.

[2020-11-26 03:20] pemessier commented on #64
lol, I just realized I posted this in the wrong library, my bad! I guess I didn't drink my coffee before writing this 😄

[2020-11-26 03:20] #64 closed, assigned to nobody

[2020-12-02 13:05] githubuser0xFFFF opened #67 "No MinGW support"
Hi,

I just tried to compile a library that used your magic_enum library with the current MinGW 64 version 8.1.0. The compilation failed because magic_enum does not propwerly support current MinGW 64 compiler. The version 8.1.0 is the latest official release and also the version that ships with Qt. So this is the version that can be considered stable.

Would be great, if it would be possible to us

[2020-12-02 13:25] Neargye commented on #67
Hi, unfortunately, I cannot add support for MingW below `9.*` because the only GCC above version 9 is supported. Also, look at #51

[2020-12-02 14:56] githubuser0xFFFF commented on #67
Ok, thank you for the response.  Then I hope an official MinGW 9.x release will come out soon.

[2020-12-02 14:56] #67 closed, assigned to nobody

[2020-12-10 15:16] Bktero opened #68 "MAGIC_ENUM_SUPPORTED_ALIASES & magic_enum::enum_values<>()"
Hello,

I wanted to write a piece of code that checks that all the values in an enum are unique.

Looking at the [limitations of `magic_enum`](https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md),  I read that "`magic_enum` won't work if a value is aliased". Well, that's what I want to do: detect if at least one value is aliased in my enum.

During my tests, I wrote the following

[2020-12-10 19:55] Neargye commented on #68
`MAGIC_ENUM_SUPPORTED_ALIASES ` macro says that aliases are generally supported.

if `MAGIC_ENUM_SUPPORTED_ALIASES` is set to 0, this behavior will occur
[code]

[2020-12-10 19:59] Neargye commented on #68
In https://godbolt.org/z/4TTerr no bugs, bug is that the name of the macro is a little wrong.

[2020-12-11 09:26] Bktero commented on #68
Oh ok!

I was expecting:

[code]

I don't think the name of the macro is wrong, I think that the documentation is just incomplete. Maybe adding a more complete example will help? Maybe, the one we have in this issue?

[2020-12-11 10:13] Neargye commented on #68
Yes, I will improve the documentation and then close these issues.

[2020-12-21 09:18] uikilin100 opened #69 "instantiating fold expression with 257 arguments exceeded expression nesting limit of 256"
Hi,

magic_enum/include/magic_enum/magic_enum.hpp:411:71: fatal error: instantiating fold expression with 257 arguments exceeded expression nesting limit of 256
  constexpr std::size_t count = (static_cast<std::size_t>(valid[I]) + ...);
[code]

[2020-12-21 12:15] Neargye commented on #69
@uikilin100  could you please test this?
[magic_enum_try_fix69.zip](https://github.com/Neargye/magic_enum/files/5724224/magic_enum_try_fix69.zip)

[2020-12-21 15:52] #69 closed, assigned to Neargye

[2020-12-21 15:58] Neargye commented on #69
will be fixed in v0.7.2

[2020-12-23 12:14] #68 closed, assigned to Neargye

[2021-02-03 12:38] mateuszzz88 opened #71 "Fail loud on exceeded range"
Currently when my enum is to big for magic_enum and I use `enum_name`, empty string is returned.
It would be better if magic_enum detected it and threw exception instead.
It would be best if it instead refused to compile.
https://godbolt.org/z/TTMx1v
[code]
Prints
[code]
Should fail to compile or throw

[2021-02-03 13:46] Neargye commented on #71
I would not want to add throwing exceptions, because this will break the code that works with checks, for example, serialization, which works faster without exceptions.

I would advise you to add your own wrapper on top of the existing functions.
[code]

[2021-02-03 13:58] Neargye commented on #71
Unfortunately, this is not possible, such are the limitations of the library.

[2021-02-04 15:07] #71 closed, assigned to nobody

[2021-02-12 01:28] colinbasnettskyboxlabs opened #73 "Compile errors on Clang 8.0.1"
Hi there. I am trying to compile for PS4, using Clang 8.0.1:

[code]

However, I run into these errors:
[code]

Any help with this would be appreciated. Thank you!

[2021-02-12 07:39] Neargye commented on #73
Could you please show an example of enum and what functions you used?

[2021-02-12 18:45] colinbasnettskyboxlabs commented on #73
I am only using `magic_enum::enum_name` on this enum:

[code]

[2021-02-16 21:16] colinbasnettskyboxlabs commented on #73
Why is this issue marked as invalid?

[2021-02-16 21:23] Neargye commented on #73
This is how I mark problems that do not look like a bug, but as incorrect behavior of the compiler.
For example, a regular x64 build with a clang passes the tests, but the clang on ps4 behaves incorrectly.

[2021-02-20 22:37] anadon opened #74 "Feature Request: optimal_index_type -- smallest size data type able to represent all possible valid indexes of an enum"
In order to limit memory required to access enum values, a convenience function to get the smallest datatype able to represent all valid indexes for an enum from uint8_t, uint16_t, uint32_t, and uint64_t would be nice.

SO has a relevant page: https://stackoverflow.com/questions/7038797/automatically-pick-a-variable-type-big-enough-to-hold-a-specified-number

C++ number standards: https://en.cppre

[2021-02-21 08:15] Neargye commented on #74
https://github.com/Neargye/magic_enum/blob/master/include/magic_enum.hpp#L488
It seems to me that something like this has already been done.

But if you find places where you can still optimize, please submit PR.

[2021-02-21 09:10] #74 closed, assigned to nobody

[2021-02-26 03:38] craigsteyn commented on #73
I looked into this a bit, I think have a solution.
PS4's compiler is fine, the issue is that the stl implementation does not have all the `std::array` functions marked `constexpr`, which is unfortunate.

I was able to work around the issue with two changes. `static_string` now stores a raw `char[N]` array rather than a `std::array<char, N>` . in this case `.data()` was the offending function.

The

[2021-02-26 09:02] Neargye commented on #73
@craigsteyn
Thanks for looking, unfortunately, I didn't have a ps4 for tests. Quite unexpected behavior, I'll think about how best to fix it

[2021-02-26 11:04] Neargye commented on #73
@craigsteyn  @colinbasnettskyboxlabs  could you please test https://github.com/Neargye/magic_enum/tree/fix_73 ?

[2021-02-28 00:46] craigsteyn commented on #73
I can confirm that fix works, before you merge it, let me run your tests to get better coverage, since I was only using `magic_enum::enum_name`

[2021-03-10 01:01] craigsteyn commented on #73
Okay, I finally was able to hook up all your tests in to my testing framework and run them all. Seems like they all pass! I think this fix does resolve the issue! Thanks.

[2021-03-10 09:05] Neargye commented on #73
@craigsteyn
Thank you very much for your help and prototype. I ended up doing it on arrays because by measurements it takes a little less compilation time than tuples.

[2021-03-10 09:05] #73 closed, assigned to nobody

[2021-03-14 11:25] MeTest515 opened #77 "set MAGIC_ENUM_RANGE_MAX higher than 1023"
Hi there,
I had a close look at this lib and love it so far. However, I have two following questions/issues.

**How to use the full potential of 16 bit?**
It seems that the real Max Range Limit is 2^10 - 1. As soon you set  #define MAGIC_ENUM_RANGE_MAX 1024 Following error message is shown:

- C1202:" recursive type or function dependency context too complex"
Linked to Line 442 in magic_enum.hpp
N

[2021-03-15 12:48] Neargye commented on #77
https://wandbox.org/permlink/G0RI3GkXGvJzNHET I checked the problem and could not get the error.

Also, for enum-flags use the API from the namespace magic_enum::flags

[2021-04-13 15:55] DevonReynolds commented on #77
This seems to be an issue with visual studio 2017.  Attached is a simple project that won't compile in 2017 but will compile in 2019.  I have also tried to compile it using GCC and it works fine.  The number that is fails on doesn't seem to be the same as the original user.  If I set it to 700 it works fine.  If I change it to 1000 it gives me the same error as the original user.
[ConsoleApplicati

[2021-04-21 11:52] yaoxinliu opened #79 "compile error if enum value is 0xab"
[code]

[2021-04-21 16:21] Neargye commented on #79
Fixed in master.

Note
[code]

[2021-04-21 16:22] #79 closed, assigned to nobody

[2021-04-27 14:22] gcamp opened #80 "Stop use of `using` in header."
The `using` keyword in a header can create conflicts in other headers when magic_enum is imported :

[code]

It would be preferable to use a `typedef` or a macro to define an other type that would be used elsewhere in the code.

If you agree I can make a PR.

[2021-04-27 14:28] andrei-pavel commented on #80
typedefs also leak outside the header. You can just as well use an `using` declaration with your scenario. typedefs also can't be templated which might be a problem in this situation.
[code]
There you go.

[2021-04-27 14:56] gcamp commented on #80
Typedefs also leaks but they can named in a unique way. You're right however about templates.

I could indeed use the value defined by msg_pack but I don't like having my code assuming things added by a library. Currently need to change dozens of file because I updated magic_enum, which is far from perfect. (currently need to update because of https://github.com/Neargye/magic_enum/issues/69).

[2021-04-28 10:13] Neargye commented on #80
Hi @gcamp, fix in master, it's still allowed to add an alias if someone needs it, but not leaks by default.
Could you please check this fix?

[2021-04-28 14:04] gcamp commented on #80
Working for me! Thanks for the quick fix

[2021-04-28 14:04] #80 closed, assigned to Neargye

[2021-05-24 06:08] nergnezor opened #82 "Build fails with Clang 5.0 and C++17"
I'm building a cross platform program. I'm using Visual Studio to build, and VS still uses Android NDK 16b with Clang 5 to build native libs for Android. I get the following errors:

- no template named 'is_nothrow_invocable_r_v' in namespace 'std'; did you mean '__nothrow_invokable_r'?
- no template named 'is_invocable_r_v' in namespace 'std'; did you mean '__invokable_r'?
- expected '(' for func

[2021-05-24 12:23] nergnezor commented on #82
I solved my problem by updating to Visual Studio 16.10 Preview which let's you use the newer android NDK v.21LTS

[2021-05-24 12:23] #82 closed, assigned to nobody

[2021-05-25 11:02] Flow86 opened #83 "cmake "bug" about header only library"
Hi,

in the code lines

https://github.com/Neargye/magic_enum/blob/8deb7f96e74e62cd1d9fd8920debfbe27f4bb8d1/CMakeLists.txt#L33-L35

the package config is generated.

I thought magic_enum is a header only library but the package config file generated in those lines still has an architecture check active, which will cause

[code]
when trying to use the same install for a 32bit build.

only adding `A

[2021-05-26 08:44] Neargye commented on #83
Hi @Flow86, Do you have any suggestions and how to correct theшы issue?

[2021-05-26 10:09] Flow86 commented on #83
the flag `ARCH_INDEPENDENT ` is new in cmake 3.14 which does exactly correct that issue.

so adding it to lines https://github.com/Neargye/magic_enum/blob/8deb7f96e74e62cd1d9fd8920debfbe27f4bb8d1/CMakeLists.txt#L33-L35 does suffice, but you would need to set minimum cmake version to 3.14

[code]

[2021-05-27 09:08] #83 closed, assigned to nobody

[2021-06-01 10:51] #77 closed, assigned to nobody

[2021-06-01 10:51] #65 closed, assigned to nobody

[2021-06-01 10:51] #46 closed, assigned to nobody

[2021-06-01 10:52] #28 closed, assigned to nobody

[2021-06-02 06:00] dakka opened #85 "Does not support large constexpr values in enumerations unless first element is < 128?"
The following enumeration will not compile if using `magic_enum::enum_entries`

`enum x_status : int64_t
{
   x_ok = 256,
   x_encode_error = 70001,
   x_decode_error = 70002,
   x_exception = 70003,
   x_service_state_change = 70004
};
`

However, the following will:

`enum x_status : int64_t
{
   x_not_used = 0,
   x_ok = 70000,
   x_encode_error = 70001,
   x_decode_error = 70002,
   x_exceptio

[2021-06-02 07:38] alexkaratarakis commented on #85
Check [this](https://github.com/Neargye/magic_enum/blob/8c130658e1759fe6968ad0541bf965441c313698/include/magic_enum.hpp#L119-L128) on how to define your own range. The default range is -128 to 128. Anything outside the defined range is invisible to `magic_enum`.

 `magic_enum` will cause a compile error if the enum has zero entries, which is the case in the first example, as all entries are invisi

[2021-06-08 09:03] #85 closed, assigned to nobody

[2021-06-24 02:06] alexkaratarakis opened #87 "Magic enum v0.7.3 fails on enums backed by `bool`"
[code]
yields:
[code]

Using any type other than `bool` seems to be ok.

edit: it was working with beb77df3f16f8fb7f2e525269d74983fe472b0fe so there is probably a minor issue in the new logic 5b282dd4e86a7874427760e6ce6d1f684b9f1b30

[2021-06-24 08:47] Neargye commented on #87
Thanks for the test this case!
Fix in master

[2021-06-24 08:47] #87 closed, assigned to nobody

[2021-07-14 17:06] mathbunnyru opened #91 "Check that all enums actually fit in [MAGIC_ENUM_RANGE_MIN, MAGIC_ENUM_RANGE_MAX] range"
For example, I have a code like this:

[code]

Code like this will silently compile and run (though it shouldn't), but it's a current limitation of max enum value:

[code]

What I propose:

Add 2 functions: `enum_min_value<Enum>` and `enum_max_value<Enum>` - they can be useful by themselves.
Is it possible to implement them without limitations?
**I do not know if it's possible or not** :(

And the

[2021-07-14 17:49] mathbunnyru commented on #91
I think this is impossible with the current approach (otherwise you would have already implemented it) :(

[2021-07-15 08:52] Neargye commented on #91
unfortunately, this is a limitation of this library

[2021-07-15 08:52] #91 closed, assigned to nobody

[2021-07-24 04:46] shelllet opened #92 "`enum_name` returns error name with the suffix 'W'"
Enum defined:
[code]
called:
`magic_enum::enum_name(d.TagName())` return `FindWindowW`;

I think it's because i included the "Windows.h" header file.

[2021-07-24 04:46] shelllet opened #93 "`enum_name` returns error name with the suffix 'W'"
Enum defined:
[code]
called:
`magic_enum::enum_name(d.TagName())` return `FindWindowW`;

[2021-07-24 09:11] #93 closed, assigned to nobody

[2021-07-24 09:11] Neargye commented on #93
duplicate #92

[2021-07-24 16:50] Neargye commented on #92
In Window.h

[code]

[2021-07-24 16:53] Neargye commented on #92
I honestly don't know how to get around this problem, except how not to include the header WIndow.h

[2021-07-25 20:40] #92 closed, assigned to nobody

[2021-07-26 00:36] shelllet commented on #92
thks, `#undef FindWindow` can resolve this, may be this is `macro` normal question.

[2021-08-05 16:55] Emill opened #94 "Enum entries with non-ascii characters get removed"
[code]

This code works fine in gcc and clang, but when using magic_enum with it, it only detects `ETT` and `TRE`.

It seems the `pretty_name` function in magic_enum only allows `0-9`, `a-z`, `A-Z` and `_`. Annex E in the C++ standard seems to allow these kind of characters in identifiers.

FYI, `__PRETTY_FUNCTION__` includes this for TVÅ: `[E = Siffra, V = TV\303\205]`.

[2021-08-09 17:52] #94 closed, assigned to nobody

[2021-08-09 17:52] Neargye commented on #94
Fixed #95

[2021-08-12 14:41] morph208 opened #96 "static_assert failed due to requirement 'detail::count_v<TestEnum, false> > 0'"
Hello,

I have a compilation issue with magic_enum::enum_cast using a string as input with the compiler clang 12.0.1. More precisely I am using enum_cast to cast a string into an enum into 2 locations in my code, one was compiling fine but not the others. It took me a while to discover the cause.

We are using the library g3log for our logs and I realised that if the header [g3log.hpp](https://git

[2021-08-12 15:16] Neargye commented on #96
You can make a quick patch to the magic_enum, just add in heder `#undef __PRETTY_FUNCTION__`, it's should work https://godbolt.org/z/bd4P6Y64P.

But I'm not sure if it's worth adding this directly to the library, it looks rather strange.

[2021-08-12 15:20] morph208 commented on #96
Thanks for your quick reply. I know it looks strange, that's why I was interested into your take on that. I am planning to add

[code]

before including magic_enum header in my code. I need to be able to compile with visual studio too so a general undef does not work. But if __PRETTY_FUNCTION__ is not defined by clang (and I read the opposite everywhere), why magic_enum compiles with clang using _

[2021-08-12 15:21] Neargye commented on #96
I think the problem here is that __PRETTY_FUNCTION__ is not a macro, it's [magic constants](https://gcc.gnu.org/onlinedocs/gcc/Function-Names.html)

[2021-08-12 15:21] morph208 commented on #96
I stumbled accross this page. Yeah maybe the test `defined(__PRETTY_FUNCTION__)` is not valid since it is not a macro...

[2021-08-19 12:06] #96 closed, assigned to nobody

[2021-09-06 04:25] ysc3839 opened #97 "Remove prefix from enum name"
When working with third-party libraries, there's enums like:
[code]
[code]

Is there an option to remove the prefix ("k" or "COLOR_")?

[2021-09-10 04:41] segatecm opened #98 "compile error in debug mode @ VS2019 C++17"
Hi,
I use magic enum in vs2019.
At release mode, it works fine.
but debug mode, compiled error:

1>D:\Work\XiaoKCapture\XiaoKMulti\magic_enum.hpp(448,40): error C2131: expression did not evaluate to a constant
1>C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.29.30037\include\xstring(1364,9): message : failure was caused by evaluation exceeding step limit of 1048576

[2021-09-10 08:36] Neargye commented on #98
Could you provide a minimal example of an error?

[2021-09-10 17:34] lakeweb opened #99 "Breakpoints fail with include - Microsoft Visual C++ 2019 v 16.11.1"
Weirdest thing, just including "magic_enum.hpp" and breakpoints fail to work. Comment the include and breakpoints work fine. Other than that, I think this is a brilliant library! But how can I use it if I loose the use of breakpoints? Do you think I should take this to the Microsoft Community?
Microsoft Visual C++ 2019 v 16.11.1
ISO C++20 Standard (/std:c++20)

**Update**
So, i dropped this into m

[2021-09-11 23:01] lakeweb commented on #97
Here is what I did, and it just may make sense. With the enums staring with 'e', I wanted the strings without the 'e'
enum the_mode {
  enull,
  eopen,
  enew,
  ecopy,
  erename,
  edelete,
  emove,
};
//where the_mode mode; is a member of projectmng_state

projectmng_state::the_mode _projectmng_state::get_mode(const std::string& pstr) {
	auto ret = magic_enum::enum_cast<the_mode>('e' + pstr); re

[2021-09-12 13:07] #97 closed, assigned to nobody

[2021-09-12 13:09] Neargye commented on #99
Unfortunately, I have no idea yet why this could happen.

[2021-09-15 00:40] carlosdelfino opened #100 "I'm thinking about testing the "Static reflection for enums" library in a Qt project, is there anything that might be incompatible?"
I'm writing a new application and I'm in need of features that this library offers, but I'm afraid there is some incompatibility with Qt.

Has anyone tested it, would you have any recommendations?

I'm using `C++1z` (C++17)

Grateful.

[2021-09-15 00:57] carlosdelfino opened #101 "There is some magic for enum without case sensitive."

[2021-09-15 07:43] Neargye commented on #101
Could you describe your question in a little more detail?

[2021-09-15 07:44] Neargye commented on #100
This library works with native C ++ enums with some [limitations](https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md).

[2021-09-15 13:21] segatecm commented on #98
define MAGIC_ENUM_RANGE_MAX 10000 -> I make this change
[code]

[2021-09-15 14:57] carlosdelfino commented on #100
considering https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md, I haven't seen anything that might surprise me with Qt.

[2021-09-15 15:11] carlosdelfino commented on #101
I have a metadata file where the user of my application describes some objects, in each line there is a description of the object separated by commas where I separate the patterns using Regexp, some fields in this line are representations of an enum, for example:

[code]

In the fourth field:

[code]
Where there is I, O, Z or N, the user may mistakenly use lowercase, so I wanted to avoid this prob

[2021-09-15 15:16] Neargye commented on #100
I, too, can not yet imagine possible problems. If there are any problem, open the issues

[2021-09-15 15:16] #100 closed, assigned to nobody

[2021-09-15 15:19] Neargye commented on #101
you can pass a functor when casting or comparison, example
[code]

[2021-09-21 18:59] bsergean opened #102 "magic_enum.hpp:268:47: fatal error: instantiating fold expression with 257 arguments exceeded expression nesting limit of 256 constexpr int count = ((valid[I] ? 1 : 0) + ...);"
This is with version v0.6.6. Does this ring a bell to anyone ?

[code]

In our version the method where compilation error happens looks like this:

[code]

[2021-09-21 19:14] Neargye commented on #102
Look same https://github.com/Neargye/magic_enum/issues/69

[2021-09-21 19:17] bsergean commented on #102
Yes this is working well in 0.7.3, will close this.

[2021-09-21 19:56] #102 closed, assigned to nobody

[2021-09-22 15:40] #101 closed, assigned to nobody

[2021-09-25 00:35] kerim371 opened #103 "Odd behaviour with VS 2017"
Hi,

I use magic enum in my project and I noticed very odd behaviour in the following context.
Let suppose in my `h5core_enum.h` I have:
[code]
and then I use `ContainerType` variable and `Domain` variable.
Using Travis CI I noticed that some of my tests fail with VS 2017 as `Domain` variable contains `ContainerType` string instead of `Domain`. All other platforms Ubuntu with Clang and GCC, OSX an

[2021-09-25 15:19] Neargye commented on #103
Unfortunately, this is an internal bug for the vs 2017.

[2021-09-25 20:50] kerim371 commented on #103
Thank you, good to know

[2021-09-25 20:50] #103 closed, assigned to nobody

[2021-09-26 16:12] Neargye commented on #98
`failure was caused by evaluation exceeding step limit of 1048576 (/constexpr:steps)`

The error says that there are too many calculations at the compilation stage.
Try to increase the number of steps through the compiler settings `/constexpr:steps` or do not set such a large `MAGIC_ENUM_RANGE_MAX`.

[2021-09-27 03:11] segatecm commented on #98
oh, Thanks.
Why it not happend in release mode?

[2021-09-27 08:07] Neargye commented on #98
As I know in the debug mode, some debug objects are used when creating STL containers, this may be the problem.

[2021-09-28 04:02] segatecm commented on #98
Thanks!

[2021-09-28 04:02] #98 closed, assigned to nobody

[2021-09-29 10:49] andrewkcorcoran opened #104 "Support converting enum value from non-constexpr to constexpr context"
Hi,

Is there any way magic_enum could support converting a non constexpr enum value into a constexpr context for all values of a given enum. It's currently possible to do this manually (or automatically if you have access to the enum source and can change the definition to use [X Macros](https://en.wikipedia.org/wiki/X_Macro)) but it would be great if it could be supported natively by the lib.

M

[2021-09-29 18:21] Neargye commented on #104
Unfortunately, I do not yet know how to do this using the library.

[2021-10-08 08:20] MichaelVoelkel opened #105 "Great library!"
Here was a stupid question before and since I cannot delete it completely, let me just express my gratitude for this fine library!

Very convenient :)

[2021-10-08 09:50] #105 closed, assigned to nobody

[2021-10-08 17:56] rpatters1 opened #106 "Iterate names & values at compile time"
I would like to iterate the names & values at compile time. In particular, I would like to use `values[i]` as a template parameter, which the compiler refuses:

[code]

The [refl-cpp](https://github.com/veselink1/refl-cpp) compile-time reflection library has a construction that would allow something like this:

[code]

My question is whether such a method of iterating already exists. If not, would

[2021-10-08 19:26] rpatters1 commented on #106
Answering my own question, I found a [website](https://artificial-mind.net/blog/2020/10/31/constexpr-for) that had rather good solution:

[code]
So now we can iterate the original example as follows.

[code]

I'm not sure there is any reason to work this into `magic-enum` since some sort of `constexpr for` is apparently proposed as a language enhancement.

[2021-10-08 20:37] rpatters1 commented on #106
Well, rats. The above solution works on XCode/GCC but not on Visual Studio 2019. So here's a variant that works on both.

[code]
This version is slightly more fragile than the previous, because it doesn't allow for multiple `enum` constants with the same value (aliases). However, neither does `magic-enum` so it's good enough for me.

[2021-10-08 23:15] Neargye commented on #106
Push update at master

Now this work on VS2019
[code]

[2021-10-08 23:33] Neargye commented on #104
@andrewkcorcoran  https://godbolt.org/z/PzYs6861h

[2021-10-09 12:21] rpatters1 commented on #106
This works well. Thanks.

[2021-10-09 12:21] #106 closed, assigned to nobody

[2021-10-10 16:03] andrewkcorcoran commented on #104
Looks good. Unfortunately I don't think there's a way to make the solution generic (e.g. so the user could pass the work function into the switch as a callback) so it could be included as a library helper method.

[2021-10-15 15:01] rpatters1 opened #107 "Compiler croaks if max/min interval is too wide"
I am encountering problems if the max/min interval is too wide. The interval limit appears to be different on different compilers, but for example `INT16_MIN+1` to `INT16MAX-1` is too wide on either of the compilers I have tried. It always fails starting at line 448:

[code]
I realize that a wide interval may quite inefficient for a compiler. It might be useful to put a warning in the Limitations

[2021-10-15 15:35] Neargye commented on #107
Could you please show an example of errors?

[2021-10-15 16:06] rpatters1 commented on #107
This code fails as indicated on XCode 12.5 and Visual Studio 2019:

[code]
And line 448 in `magic_enum.hpp`:

[code]

Finally, as an aside, the limitation of *greater* than `INT16_MIN` and *less than* `INT16_MAX` seems arbitrary. Is there any reason they shouldn't be `>=` and `<=` respectively? I don't need this, but it seems like an odd restriction.

[2021-10-15 18:42] Neargye commented on #107
`INT16_MIN` / `INT16_MAX` - this is not a compiler limitation, but a limitation of the internal library implementation.

[2021-10-16 09:48] Neargye commented on #107
If you hit a message like this:
[code]
Change the limit for the number of constexpr evaluated:

* MSVC /constexpr:depthN, /constexpr:stepsN https://docs.microsoft.com/en-us/cpp/build/reference/constexpr-control-constexpr-evaluation
* Clang -fconstexpr-depth=N, -fconstexpr-steps=N https://clang.llvm.org/docs/UsersManual.html#controlling-implementation-limits
* GCC -fconstexpr-depth=N, -fconstexpr-l

[2021-10-19 16:11] rpatters1 commented on #107
I ran into this problem again today, and your comment is helpful to a degree. But if you have any suggestions for appropriate settings, that would be very helpful. I'm thinking order-of-magnitude suggestions. Like, if the enum spans 10,000 values, the depth should be no less than X and the steps no less than Y. (Or on the order of X and the order of Y.)

The Microsoft page doesn't offer any caveat

[2021-10-21 17:40] s9w opened #108 "Limitations with big enum values, especially with Vulkan"
Hey Magicians!
Until recently, I happily (and naively!) used magic_enum with my Vulkan application. One update later and it doesn't compile anymore. I think the reason was this [line from a commit in April](https://github.com/Neargye/magic_enum/commit/5b282dd4e86a7874427760e6ce6d1f684b9f1b30#diff-672cedb46a42e43a8461d9bcec5b1616fe537c2d9451544b896786f632324f7dR404).

Now since then I read up about

[2021-10-21 19:56] Neargye commented on #108
These errors mean that the library did not reflect all the enum values.
I can add an option to turn off errors.

[2021-10-21 20:02] s9w commented on #108
Oh I see, so it can't actually reflect values above those limits. I probably never used such enums by chance then. But that error should absolutely stay if I got this right. So I rest my case.

[2021-10-22 03:37] #108 closed, assigned to nobody

[2021-10-29 03:58] parsley72 opened #109 "Change documentation from "string" to "string_view""
I was confused trying to use `enum_name` then covert to a C string using `.c_str()` until I realised it returns a `string_view`. Documentation should be changed to give the correct type.

[2021-10-29 07:54] Neargye commented on #109
Could you tell me exactly where the inaccuracy in the documentation is?

You can use the `data()` because it returns a string_view to a null-terminated static `char[]`.

[2021-10-29 17:38] parsley72 commented on #109
- Under Features it says "Enum value to string".
- Under Examples it says "Enum value to string".
- Example code uses `auto`.

I handled it by wrapping in a `string` and using `.c_str()` because `data()` is only safe if you know the `string_view` is null-terminated and that's not explicity stated. I'm not arguing against the implementation, just that I had to read the code before I could figure ou

[2021-10-30 18:57] Neargye commented on #109
"to string" - this is indicated ideologically, the exact type is already an implementation detail. you can also look at the documentation, it contains all the inappropriate types and guarantees. https://github.com/Neargye/magic_enum/blob/master/doc/reference.md

`auto c1_name = std::string{magic_enum::enum_name(c1)};` - you can write like this if you need a correct type, according to the AAA rule

[2021-10-30 18:57] #109 closed, assigned to nobody

[2021-10-30 20:47] parsley72 commented on #109
I was just making the point that this confused me, not that the implementation is wrong. The documentation could be clearer - if it was I wouldn't have run into this problem.

[2021-10-30 21:08] Neargye commented on #109
I'll update readme soon

[2021-11-21 17:18] WolleTD commented on #107
I got some `uint16_t` enums in a protocol implementation that I'd like to use `magic_enum` on for outputs instead of having hundreds of lines of switch/case-Blocks. It would be great to use this on large enums.

I haven't gotten into hacking the code, what's the reason for the `int16_t` limit anyway? The [commit message](https://github.com/Neargye/magic_enum/commit/370a1d523684532eb743ec78213fd323

[2021-11-25 18:08] Neargye commented on #107
@WolleTD
`uint16_t` - this is not a compiler limitation, but a limitation of the internal library implementation. These restrictions were made due to internal lib implementations, the library was designed for little enums.

The library does a full brute-force of all possible enumerations in the range, so if you brute-force over all `uint16_t`  range - ~65535*20+-5 instances of templates and checks

[2021-11-25 18:23] rpatters1 commented on #107
Not to be contrary or anything, but there is no difference in number between `INT16_MIN - INT16_MAX` and `0 - UINT16_MAX`. They're both 65535 (minus a couple if you like).

[2021-11-25 18:51] Neargye commented on #107
@rpatters1  65535*(20+-5) instances

[2021-11-25 20:33] rpatters1 commented on #107
My only point is that

[code]

It's the same number of possible instances feeding into your formula whether you use `int16_t` or `uint16_t`.

[2021-11-25 20:39] Neargye commented on #107
yep, the library check all possible enum values, if the enum values ​​can be negative, then it will check them too

[2021-11-25 20:40] rpatters1 commented on #107
But `uint16_t` cannot be negative.

[2021-11-25 20:41] rpatters1 commented on #107
Just to be clear: I'm not the one advocating for `uint16_t`. In fact, I'm perfectly fine with how it is now. (And thank you, it's a life saver.)

[2021-11-25 20:48] Neargye commented on #107
note, if we are talking about flags `{ flag = 1 << 1, flag2 = 1 << 2, flag3 = 1 << 3 }`, then it is worth using the api from the namespace magic_enum::falgs, there goes a check of all binary flags, and there is no size limit.

[2021-11-25 21:17] WolleTD commented on #107
Well, I'm not really advocating for `uint16_t` either, I could just hack it for my use case. At this point I'm simply trying to understand more of the problem.
In my particular case, I wouldn't brute-force the whole `uint16_t`-range, but something like `0x8000` to `0x8400`, which is way less than the `(u)int16_t`-range, but outside of the `int16_t` hard-limit when trying to customize it.

Wouldn't

[2021-11-26 08:51] Neargye commented on #107
hmm, yes, I understand what you mean, I'll see what can do

[2021-11-26 09:16] Neargye commented on #107
Fix in master

[2021-11-26 09:16] #107 closed, assigned to nobody

[2021-11-27 09:37] WolleTD commented on #107
Thanks, works as expected!

[2021-11-28 15:18] rpatters1 opened #111 "XCode Analyze Error"
I've been running XCode Analyze on my code. This is a fairly effective tool for finding hidden bugs that cause memory errors. I have the following function (simplified for the example):

[code]

The warning message is

[code]

If I replace the initialization of `pName` with a hard-coded string like `"123"` then the warning goes away. That makes me thing that Analyze somehow thinks there is a code

[2021-11-29 08:49] Neargye commented on #111
Maybe try `constexpr auto names`, remove the reference, this will not change the behavior, but it may fix the warning.

[2021-11-29 13:08] rpatters1 commented on #111
That solved the issue. Thanks. I'm wondering if the documentation should be updated. The reference always looked strange to me, but I dutifully copied the example in the documentation.

[2021-11-29 13:08] #111 closed, assigned to nobody

[2021-11-29 21:25] Neargye commented on #111
will update examples and documentation

[2021-12-03 03:50] ghost opened #114 "Some function parameters pass string objects that involve copying"
Normally we would write const string_view& str

[2021-12-03 08:51] Neargye commented on #114
https://quuxplusone.github.io/blog/2021/11/09/pass-string-view-by-value/

[2021-12-03 09:45] ghost commented on #114
The article is just something in writing.
The speed of actually transmitting the address is much greater than the speed of copying the data.

[2021-12-03 09:50] Neargye commented on #114
could you please show me where in the library string data is being copied?

string_view - this is the address and size of the string data.

[2021-12-03 09:59] #114 closed, assigned to nobody

[2021-12-07 08:26] sukeyisme opened #115 "If enum has negative number,not work."
magic_enum::enum_cast<T>(enum_value) not work.

[2021-12-07 08:35] Neargye commented on #115
Could you please show an example of an enum that does not work?

[2021-12-07 08:40] sukeyisme commented on #115
enum class Test {
  kTest1 = -100,
  kTest2 = -102,
  kTest3 = -200,
};

auto test = magic_enum::enum_cast<Test>(-200);
    if (test == Test::kTest3) {
      std::cout << "test" << std::endl;
    }

[2021-12-07 09:23] Neargye commented on #115
https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md

* Enum value must be in range [MAGIC_ENUM_RANGE_MIN, MAGIC_ENUM_RANGE_MAX].
* By default MAGIC_ENUM_RANGE_MIN = -128, MAGIC_ENUM_RANGE_MAX = 128.

[2021-12-07 09:25] sukeyisme commented on #115
But my enum is not in range ,any workaround?

[2021-12-08 02:09] rpatters1 opened #116 "Example of bit-oriented enum"
In a recent issue thread you mentioned a bit-oriented api that greatly reduced the max span of numbers magic_enum needs to search. Is there an example somewhere of how to use this?

Thanks

[2021-12-08 03:45] #115 closed, assigned to nobody

[2021-12-08 08:07] Neargye commented on #116
Here basic enum bit-flag example
https://github.com/Neargye/magic_enum/blob/master/example/enum_flag_example.cpp

[2021-12-08 16:32] rpatters1 commented on #116
Thank you! I hope I didn't miss that link in the doc pages.

[2021-12-08 16:32] #116 closed, assigned to nobody

[2021-12-13 14:55] bialasjaroslaw opened #117 "Compilation does not fail if enum value is out of range"
I have noticed that for some enums I have compilation fail (which is good, as I don't want to check if any code has some issues with wrong min/max specification for enum values one by one), but for others it is not complaining at all.

It seems that this happens only if there is a missing enum of value `MAGIC_ENUM_RANGE_MAX+1`

This is fairly representative example of the code that should fail to

[2021-12-13 15:21] Neargye commented on #117
We can check, for example, the next 10 values (MAGIC_ENUM_RANGE_MAX+1 ... MAGIC_ENUM_RANGE_MAX+10), but unfortunately, this will not change the situation much.

[2021-12-13 15:44] bialasjaroslaw commented on #117
I was afraid of that. Well at least I am aware of that now. I thought that it will be mentioned somewhere, so I checked readme/limitations at least twice. Maybe it is a good idea to mention this somewhere?

Anyway, thank you for your work. I really appreciate it and have been using `magic_enum` since I heard of it in many of projects that I am involved in.

[2021-12-13 16:44] Neargye commented on #117
In general, if you want, I would be happy with the PR.
Perhaps a fresh look at the documentation will help make it better.

[2021-12-21 14:37] 21Ansh commented on #6
After replacing the magic_enum.hpp I am getting following error

error: cannot bind non-const lvalue reference of type _std::array<std::basic_string_view<char>, 0>&_ to an rvalue of type _std::array<std::basic_string_view<char>, 0>_
         magic_enum::enum_names<PillowResize::InterpolationMethods>();

This error is on debian buster

[2021-12-21 17:11] Neargye commented on #6
Could you please create a new issue? with a description and an example?
@21Ansh

[2022-01-02 18:24] rpatters1 opened #118 "Question about flag-based api"
I am trying to reduce compile-time requirements of memory and time for my project. I have some power-of-2-based `enums` that span a pretty wide interval. I was hoping that using the `flags` api would use much fewer resources, but I can't see any difference in behavior. I still have to set `/constexpr:depth` and `/constexpr:steps` quite high before it will compile in Visual Studio 2022.

Here is an

[2022-01-04 10:23] Neargye commented on #118
`magic_enum::customize` - not using in flags  api.

https://godbolt.org/z/Y9Ecfd36f

[code]

[2022-01-04 13:57] rpatters1 commented on #118
Suppose I modify `Process` as follows:

[code]

and the call as follows:

[code]

Then I get a `static_assert` error on line `936` of `magic_enum.hpp`:

[code]

I can fix this error by adding in `magic_enum::customize` but then (as you noted) I get no advantage from the `flags` api.

[2022-01-04 14:01] Neargye commented on #118
I will check this

[2022-01-04 14:07] rpatters1 commented on #118
Thanks. FWIW: I just tried commenting out the `static_assert` line, and my real code compiled and ran correctly.

[2022-01-04 18:25] rpatters1 commented on #118
It looks to me like there is a `true` missing in the `static_assert` on line `936`:

[code]

Also possibly the line above as well, but I'm not sure about that since it isn't causing an error for me.

[2022-01-04 19:50] Neargye commented on #118
Push fix in master

[2022-01-04 19:56] rpatters1 commented on #118
Thank you.

[2022-01-04 20:00] Neargye commented on #118
Also add missing tests.

[2022-01-04 20:00] #118 closed, assigned to nobody

[2022-01-04 20:07] rpatters1 commented on #118
I realize it may be too late for this, but might it have been more convenient to implement the `flags` ui as an optional template parameter rather than a separate namespace? I.e.:

[code]
etc.

Much of your internal code seems to work this way. I ended up having to put in ugly lambdas into my code to avoid code duplication.

[2022-01-04 20:10] Neargye commented on #118
This can be taken out in a separate issue.
The main problem is that not all api will work this way, for example `enum_name(E value);`

[2022-01-04 20:39] rpatters1 opened #119 "Combining flags ui and non-flags ui in the same processing routine"
I am running a project that processes many enums to load them as read-only properties into a Lua context using [`LuaBridge`](https://github.com/vinniefalco/LuaBridge). With your help I was able to get the `flags` ui working for my power-of-2 enums, and it greatly reduces the compile time and memory requirements for compiling them.

Now I would like to use a single routine to process either type of

[2022-01-04 21:39] Neargye commented on #119
[code]
How about adding this?

[code]

[2022-01-04 22:03] rpatters1 commented on #119
That would work for me. Would I continue to use `magic_enum::names` and `magic_enum::enum_value` as before? If so, your solution is cleaner than an extra template parameter.

[2022-01-04 22:08] Neargye commented on #119
yes, in fact, there will be the same tempalte parameter, it will just be hidden inside the api, you will set the flag for the whole enum

[2022-01-04 22:11] rpatters1 commented on #119
That sounds like an ideal solution.

[2022-01-05 21:08] Neargye commented on #119
Please test https://github.com/Neargye/magic_enum/pull/120

I added auto-detection for the enum flags, but I'm sure it covers all cases.

[2022-01-06 01:48] rpatters1 commented on #119
I've tested #120, and it compiles and runs my test suite correctly on both macOS and Windows. (I no longer have to blow out the `constexpr` steps/depth on Windows.) I also benchmarked my build times and couldn't measure any differences attributable to the change. I like this solution for flags a lot.

[2022-01-06 10:24] Neargye commented on #119
I need a little more time to clean it all up, but I think the basic concept and api will remain the same.

[2022-01-08 15:30] #119 closed, assigned to Neargye

[2022-01-10 14:21] Cleroth opened #121 "How to deal with 'invalid/empty' enum values?"
Often times I feel the need to have an enum value for empty/invalid. The problem with this is it gets counted for `enum_count` and `enum_values`, etc...

Currently I'm doing something like:

[code]

Is there a better way to do this?

[2022-01-10 14:50] Neargye commented on #121
You can try like this.
[code]

[2022-01-10 15:36] Cleroth commented on #121
`enum_count<Foo>()` and `enum_values<Foo>().size()` still return `3` with that.

[2022-01-10 21:11] Neargye commented on #121
Sory, need `count-1`
[code]
 Or try this
[code]

[2022-01-13 08:00] Cleroth commented on #121
That's certainly an alternative, but it seems to have more disadvantages:

1. it's just more code
2. it needs to be in the global namespace, so it will likely end up separate from the actual enum declaration
3. the value of invalid will keep changing as you add more enum values
4. it actually still triggers an "out of range" compilation error due to some check added recently to the lib

I've just

[2022-01-13 20:49] Neargye commented on #121
`Invalid = std::uint8_t(-1);` Yes, I really think this is the best way.

[2022-01-13 22:10] #121 closed, assigned to nobody

[2022-01-21 18:57] mciruzzi1 commented on #117
Hey! Is it still possible to work on this issue?

[2022-01-21 19:05] Neargye commented on #117
On it issue, it is necessary to update the documentation. @mciruzzi1

[2022-01-24 17:27] rpatters1 opened #122 "Visual Studio 2022 IntelliSense Error E0095"
I am encountering a strange IntelliSense error in Visual Studio 2022. This is not actually causing the compile to fail or any other issues that I can see. And even weirder, when I click on the error to view the line of code, the error disappears. (I haven't figured out what makes it reappear.) The line of code is line 183:

[code]

The error message is here:

<img width="735" alt="Screen Shot 2022

[2022-01-25 11:11] Neargye commented on #122
Can suppress some kind of warning or error help?

[2022-01-25 12:55] rpatters1 commented on #122
Oh, sure. As I say, the message comes and goes and it's IntelliSense. It doesn't affect the build. I was wondering if maybe there should be a `static_assert` on `N` that limits it to whatever is a generous but reasonable value.

[2022-01-25 13:31] rpatters1 commented on #122
FWIW: As an experiment I added a `static_assert` to force `N` less than `UINT16_MAX`. So far the error hasn't appeared. (But it's too soon to say if that made a difference.)

[2022-01-25 15:36] Neargye commented on #122
an interesting workaround, I thought about the concert, but so far we have C++17.  if this solution will be ok, I can add it myself or you can do PR if you want.

[2022-01-25 16:35] rpatters1 commented on #122
Ok I'll submit a PR.

[2022-01-25 18:14] #122 closed, assigned to nobody

[2022-01-29 04:33] bitnick10 opened #124 "How this lib works?"
Why this lib can get enum name as string since C++ doesn't have reflection yet?What's the magic?

[2022-01-29 11:51] Neargye commented on #124
This library uses a compiler-specific hack (based on `__PRETTY_FUNCTION__` / `__FUNCSIG__`), which works on Clang >= 5, MSVC >= 15.3 and GCC >= 9.

We go through the given interval range and find all the enumerations with a name, this will be their count. Read more about limitations https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md

Many more about this hack in this post https:/

[2022-01-29 21:14] #124 closed, assigned to nobody

[2022-02-04 21:42] smahapatra1 opened #126 "documentation fix"
Hi, I think the following should be UINT_MAX:

// (max - min) must be less than UINT16_MIN.

Thanks for the library.

[2022-02-04 22:16] Neargye commented on #126
Yes, thanks

[2022-02-04 22:16] #126 closed, assigned to nobody

[2022-02-06 10:07] v1nh1shungry opened #128 "Apply an anonymous enum to the enum_type_name function?"
I found that when I apply an anonymous enum to the `magic_enum::enum_type_name` function, it will compile successfully and return `<unnamed enum>`. Here's my code.

[code]

My environment:

* MSYS2 MINGW64
* g++ version: g++.exe (Rev8, Built by MSYS2 project) 11.2.0

Also I got `<unnamed-enum-RED>` when running the same code in Visual Studio 2019.

And, I also got a [gobolt link](https://godbolt.o

[2022-02-06 10:54] v1nh1shungry commented on #128
If this is a bug, it may be fixed by simply using `pretty_name` like this:

[code]

Yeah, just like what you did in `template <typename E, E e> constexpr auto n() noexcept` function.

[2022-02-06 13:37] Neargye commented on #128
Yes, it looks like a bug, if you want, you can do PR, or I'll fix it later.

[2022-02-06 14:29] v1nh1shungry commented on #128
Sure, I'm glad to do PR. Thanks for replying.

[2022-02-06 19:59] #128 closed, assigned to nobody

[2022-02-06 21:43] Warwolt opened #130 "for-each friendly magic_enum::enum_values"
Been using magic_enum a little and I absolutely _love_ it. Adds so much ergonomy to enum classes that is missing in plain C++. One thing I'm missing however is the ability to declare something like the following code:

[code]

Since the array that is returned from `enum_values` doesn't have a size that matches the number of enum variants, the iterator above will not only construct the valid varian

[2022-02-06 22:35] Warwolt commented on #130
For context I got this helper function working, so in theory this should be doable as part of the library I think.

[code]

[2022-02-07 09:37] Neargye commented on #130
Could you show an example where `magic_enum::enum_values()` does not work as it should?
https://github.com/Neargye/magic_enum/blob/master/doc/reference.md#enum_values

[2022-02-07 09:38] Neargye commented on #130
https://wandbox.org/permlink/UhvbONpIyJHkHdeY

[code]
Output:
[code]

[2022-02-07 11:31] Neargye commented on #130
https://wandbox.org/permlink/QphdouUiPLTG3OTh

[code]

[2022-02-13 14:48] #117 closed, assigned to nobody

[2022-02-13 18:53] Neargye commented on #104
New idea, thanks @grishavanika
https://godbolt.org/z/1j4c7W5qr

[2022-02-13 18:54] Warwolt commented on #130
Hm, I think I must've done something else wrong and gotten confused by intellisense reporting the constexpr as giving an array of size 256. Not quite sure what was the problem here. I tried replacing some tests with just `magic_enum::enum_values` instead of the util with a std::cout printout of the values that gave the expected behavior.

Closing this as a user error :)

[2022-02-13 18:54] #130 closed, assigned to nobody

[2022-02-15 04:00] andrewkcorcoran commented on #104
Looks good - if we're considering adding this into the library then we should probably using &&, std::forward, and std::invoke - https://godbolt.org/z/Y5K6bfboz

[2022-02-15 08:56] Neargye commented on #104
It remains to understand how to name this function.

[2022-02-15 09:15] Neargye commented on #104
https://godbolt.org/z/cGMjq3e6W
maybe a more general case?

[2022-02-15 09:56] andrewkcorcoran commented on #104
No longer looks to be working correctly? e.g. no output to stdout

[2022-02-15 10:03] Neargye commented on #104
Fixed https://godbolt.org/z/v39rEeK4P, my bad

[2022-02-15 10:05] Neargye commented on #104
I would add maybe two options(for_each & const_switch), but we should come up with concise names

[2022-02-15 10:26] andrewkcorcoran commented on #104
They both seem reasonable

[2022-02-16 14:57] HerrDingenz opened #133 "compile error"
After updating to the latest code i get a compile error in Visual Studio 2022:

in line 939 it says:

`throw std::logic_error{"magic_enum::enum_fuse accepts only in-range enum values"};`

this causes a
`error C2760: syntax error: '{' was unexpected here; expected 'expression'`

however .. changing the {} to () in that line of code and including stdexcept at the top of the file fixes that.

[2022-02-16 15:07] HerrDingenz commented on #133
i forgot to mention my project is set to for c++20 and not c++17

[2022-02-16 15:13] schaumb commented on #104
note for `constexpr switch`:
GCC [cannot able to optimize](https://godbolt.org/z/KsGfh8Kh9) `constexpr for` like clang, It generates `if (check)` for every element, which is not that efficient like pure switch.

I solved this with a lookup table:
[code]

This gcc solution has only one caveat: it has a runtime function pointer indirection (but constant time).

(it can be made index-safe)

[2022-02-16 15:31] schaumb commented on #104
Another "efficient" (platform + compiler independent) `constexpr switch` solution can be like `boost::lambda::switch`. It generates predefined switch function with variadic parameters (only support maximum 9  `case` value with `default`, but this can be a #define parameter on a different boostless solution).
With default chaining it can be reached efficient code like:

[code]
(which is 9 times "fa

[2022-02-16 16:29] tester0077 opened #134 "vcpkg does not seem to install the header file"
Just tried to use the current version by installing it via vcpkg, but that process did not install the header file, which is all I expected to need.

After trying to install the package, I ended up with 2 directories in the vcpk tree - for x86
D:\pkg\vcpkg\installed\x86-windows\share\
magic-enum
magic_enum

vcpkg only knows about
magic-enum               0.7.3#1          Header-only C++17 library

[2022-02-16 16:55] Neargye commented on #134
This is official package in vcpkg https://github.com/microsoft/vcpkg/tree/master/ports/magic-enum

So installing magic-enum 0.7.3#1 is ok.

[2022-02-16 17:01] Neargye commented on #133
Fixed in master

[2022-02-16 17:01] #133 closed, assigned to nobody

[2022-02-16 17:20] Neargye commented on #104
@schaumb wow, good catch!
To be honest, I need to look again at how compilers deal with the library, especially with compilation time, but this is a separate issue.

[2022-02-16 17:28] HerrDingenz commented on #133
works .. thank you :)

[2022-02-16 17:56] tester0077 commented on #134
Just installing a vcpkg for other packages has installed the code (libs and headers) without any further work on my part other than setting up the path to the files needed, but it does not seem to work for this package.
Perhaps I should raise the issue with the vcpkg team?

[2022-02-16 19:01] Neargye commented on #134
If you check with the developers and tell them the result, I will be grateful to you. I just don't use vcpkg.

[2022-02-16 20:21] tester0077 commented on #134
Done

[2022-02-16 20:35] tester0077 opened #135 "How to use magic_enum"
suppose I have declared a struct
#include "magic_enum.hpp"
enum class eImageRotationEnums
{
  eIrNoRotation =   0, // "no rotation"
  eIrRotateRight, // "rotate right, CW"
  eIrRotateLeft, // "rotate left, CCW"
  eIrFlipHorizontal, // "FlipHorizontal"
};
and define a function:     wxImage       RotateImage( wxImage inputImage, int rotation );

and want to use one specific value as a function argum

[2022-02-16 20:41] Neargye commented on #135
try
`m_Image1 = RotateImage( m_Image1, magic_enum::enum_integer(eImageRotationEnums::eIrRotateRight) );`

[2022-02-16 21:32] tester0077 commented on #135
Thank you, that dis the trick.
I thought I tried that but must have been some mistake with all of the typing :-)

Glad I asked

[2022-02-17 09:26] #135 closed, assigned to nobody

[2022-02-17 12:48] CarloWood opened #136 "magic enum static_asserts on an enum value of 129"
I ran into this with 0.7.2, then upgraded to 0.7.3. Both have this issue. I use git and tags, so this was with tag "v0.7.3".

Consider the following snippet:

[code]

When compiling, you get:

[code]

Using a value of 128 or 130 compiles fine. Having other enums in there does not make a difference.

[2022-02-17 13:24] CarloWood commented on #136
I should have mentioned I am using `g++ version 11.2.0` or `clang++ version 13.0.1` on linux. Using `-std=c++17` or `-std=c++20` - both give the same error.

[2022-02-18 21:54] Neargye commented on #136
This was an attempt to check that the enum values ​​were out of range, but it was too non-obvious, so it was removed. You can try the latest version from the master.

[2022-02-18 21:55] CarloWood commented on #136
I do not get that.  Surely it is a bug / undesirable that you can't compile a program that uses a value of 129 for an enum?

[2022-02-18 21:58] CarloWood commented on #136
Are you saying that there is something out of range (not working)?

[2022-02-18 22:01] Neargye commented on #136
This library has [limitations ](https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md),  if some values out of range it's will not work.

[2022-02-18 22:29] CarloWood commented on #136
Ah! Thank you for the clarification. I had not realized there were limitations (or did forget I read that). The reason I came to the conclusion that it had to be a bug is because values larger than 129 work fine (the original code has values between 5 and 133 I believe). If you change the 129 into 130 or larger, it compiles fine (I did not check if it also worked). Of course I realized that 129 is

[2022-02-18 22:29] #136 closed, assigned to nobody

[2022-02-18 22:48] CarloWood commented on #136
Using master wouldn't have fixed things I understand. So I just applied this patch to my code:
https://github.com/CarloWood/dbus-task/commit/cb76f886017b941b009bbf80a2840b72e4d0e874

Thank you!

[2022-02-19 01:15] schaumb commented on #104
After this PR merge https://github.com/Neargye/magic_enum/pull/140 I start to implement the following:

`enum_constexpr_switch(lambda, Enum::value)` -> call lambda, no result.
`enum_constexpr_switch<ResultType>(lambda, Enum::value)` -> call lambda + result. If no enum, return default constructed ResultType
`enum_constexpr_switch(lambda, Enum::value, default_val)` -> call lambda + result. If no enu

[2022-02-19 02:18] schaumb opened #143 "make typesafe enum_fuse"
Currently it can be write the following:

[code]

So enum fuse is not recognize the parameter types.

It can be made typesafe with the following trick:

[code]

[2022-02-19 06:45] pavelkryukov commented on #143
Looks great – it constructs a Cartesian product enum of N enums in compile time! It should solve problems of fused enums # mismatch too. And we can remove `+ 1` trick.

[2022-02-19 08:09] Neargye commented on #143
This is a good idea, but then the switch on such an enum will be hit warning C4063.

[2022-02-19 08:16] pavelkryukov commented on #143
Was about to post the same:

[code]

@Neargye but it is not an UB up to your knowledge?

[2022-02-19 08:26] Neargye commented on #143
AIK, not UB, I investigate how suppress this warning.

[2022-02-19 09:26] pavelkryukov commented on #143
[code]

This hides the fact enum has no values from compilers.

But Visual Studio does not like `switch/case` over incomplete enums. It is a different warning (C4064), maybe safer to be ignored/disabled than C4063.

[2022-02-21 19:11] alexkaratarakis commented on #136
The check caught a real bug in this case. I think there is value in having it.

The alternative here would have been that values 129-133 were silently ignored which would be hard to debug.

It is definitely not a perfect check, but it can catch a subset of issues cheaply.

Would a clearer error message about what went wrong and how to fix it help here?

[2022-02-21 22:12] Neargye commented on #136
@alexkaratarakis I'm still thinking about a better option

[2022-02-22 15:20] CarloWood commented on #136
I think the error should happen, but for all values that are too large. Not only one that is 1 larger than the maximum. And the error given probably should contain a link to a website that explains it?

[2022-02-22 15:33] Neargye commented on #136
Unfortunately that's not possible, that's the problem.

[2022-02-27 14:27] l16i commented on #45
@Neargye I continue on this issue since it seems that your solution doesn't work anymore.
The namespace `fusion_detail` doesn't use the `MAGIC_ENUM_USING_ALIAS_OPTIONAL` macro as we can see here:
[code]
It use `std::optional` instead of `optional`

[2022-02-27 16:40] Neargye commented on #45
@laurentNoudohounsi please create another issue.
work with the fusion is still in progress, I can suggest using the release version.

[2022-02-27 16:46] l16i commented on #45
Thanks it works now

[2022-02-27 16:46] l16i opened #147 "fusion_detail doesn't handle MAGIC_ENUM_USING_ALIAS_OPTIONAL"
The current implementation of the `fusion_detail` namespace is

[code]

It still uses `std::optional` instead of `optional`

[2022-02-27 20:51] parsley72 opened #148 "Add Yocto recipe"
Add Yocto recipe so magic_enum can be used in Yocto builds.

[2022-03-02 14:21] schaumb opened #150 "constexpr enum map"
The C++17 standard does not allow to use allocators, and dynamic containers (like std::unordered_map, std::map) in constexpr time.
It is a handy feature, if `magic_enum` would offer an `enum_map<EnumType, T>`, which is implemented as `std::array<T, enum_count<EnumType>>` or `std::array<optional<T>, enum_count<EnumType>>` with a typesafe `O(1)` complexity `operator[](EnumType)`, `at(EnumType)` func

[2022-03-04 00:06] alexkaratarakis commented on #150
Consider `EnumMap`/`EnumSet` from https://github.com/teslamotors/fixed-containers
Uses `magic_enum` under the hood and is fully `constexpr`.

[2022-03-04 03:44] tomjohnstone opened #151 "std::formatter"
Hi,

Is it possible to define a std::formatter (for use with std::format) that will work on any enum value?

Thanks,
Tom

[2022-03-04 08:54] schaumb commented on #150
Thanks @alexkaratarakis , but I have only C++17 std available compiler, fixed-containers use C++20

[2022-03-04 10:43] schaumb opened #152 "enum_flags_name() can be constexpr, with returning static_string if enum is flag"
`enum_flags_name()` currently returns with `std::string`, which is can not be a constant expression.
Constexpr time can be calculated of the enum flags returning string maximum size (sum of all {enum name size} + count-1 for the separators).
This can be used as the result of the static_string template argument.

[2022-03-04 13:08] schaumb opened #153 "create enable/disable customization point for enum values"
@Neargye idea for the [enum disable feature](https://github.com/Neargye/magic_enum/pull/138#issuecomment-1057295127) is to create another customization point:

[code]

This needs an implementation

[2022-03-04 13:51] rpatters1 opened #155 "Error message in macOS with latest version"
When I compile with macOS XCode, the following message occurs on line 921:

[code]

I can increase my minimum target to macOS 10.13 and presumably make it work, but I would like not to have to do that. Is there some way this code could be made optional? For now I am sticking with an earlier branch of `magic_enum`.

[2022-03-04 14:11] schaumb commented on #153
https://github.com/Neargye/magic_enum/compare/master...schaumb:enable_disable_customization_point?expand=1

I made it (without documentation).

This has some caveat
---

The library user can think that if an enum has not a representant value, can be enabled with this.

[code]
`A` enum with value `3` is not valid.

---

The library user can be used a combination of customization which can be contro

[2022-03-05 10:01] Neargye commented on #153
I would add a static asserter that if an enum is valid it should have a name. It's fixing caveat I thinks

[2022-03-05 20:13] Neargye commented on #147
please check master version

[2022-03-08 08:38] #143 closed, assigned to nobody

[2022-03-08 13:16] Neargye commented on #155
please check master version

[2022-03-08 14:20] Neargye opened #157 "Add test for optional aliases"
Test like
[code]

[2022-03-08 15:24] schaumb opened #158 "add enum_index_v compile time checker for template constant enum value"
I want to get enum value index.

Currently there is a `magic_enum::enum_index(enum_val)` which returns `optional`.
If I want to make a `magic_enum::enum_index(enum_val).value()`, on constant time there are no check for enum existing, runtime exception throws.

I need a `magic_enum::enum_index_v<enum_val>` constant which check `enum_val` existance compile time.

So this throw 'std::bad_optional_acc

[2022-03-08 15:39] Neargye commented on #158
The only thing I would prefer is a function over a variable in this case (if it's possible), just like enum_value/enum_name.

[2022-03-08 15:50] Neargye commented on #158
Like this is ok?
[code]

[2022-03-08 16:32] schaumb commented on #158
OK, thanks :)

[2022-03-09 00:06] rpatters1 commented on #155
It doesn't appear to make a difference, except now the error occurs on line 920. (It's the same line, though.)

[2022-03-09 08:07] #158 closed, assigned to nobody

[2022-03-09 08:59] #147 closed, assigned to nobody

[2022-03-09 14:32] #155 closed, assigned to nobody

[2022-03-10 12:12] Neargye opened #162 "Add meson Integration to readme"
https://github.com/Neargye/magic_enum/pull/113

[2022-03-10 12:14] Neargye opened #163 "Exercise Bazel build in CI"
add to Github CI same https://github.com/Neargye/magic_enum/pull/59

[2022-03-10 16:16] Neargye commented on #153
I thought about how to combine this into 1 function and make it convenient, perhaps something like
[code]

[code]

[2022-03-10 16:17] schaumb commented on #104
So I refactored the [constexpr switch](https://github.com/Neargye/magic_enum/pull/142), which has `string_view` switch-cases for the enum names.

After that, only need the public [functions](https://github.com/schaumb/magic_enum/compare/constexpr_switch_names...schaumb:enum_switch?expand=1)

The code is functionally done. It needs review, maybe tests.

[2022-03-10 16:25] Neargye commented on #153
Or
[code]

[code]

[2022-03-10 18:59] schaumb commented on #153
I like this idea (last one, with `variant`).
`default` is not a C++ keyword? Can be used like that?
And what about backward compatibility?

[2022-03-10 21:17] Neargye commented on #153
There are two options for backward compatibility
* Make a major release with broken backward compatibility
* Make a check for the return type, if the string is the old behavior, if the variant is the new one.

[2022-03-10 21:38] schaumb commented on #104
I made some [testcase](https://github.com/schaumb/magic_enum/blob/enum_switch/test/test.cpp#L1032) from the original motivating example:
[code]

I created the `underlying_type` `enum_switch` overloads too.
And I implemented an `enum_for_each` function, with testcases:

[code]

[2022-03-11 11:05] dominicpoeschko opened #164 "Enum in template not working with Clang"
Enums in templated structs do not work on Clang but do work in GCC

Works:
`enum class E1{aa, bb};`

Does not Work:
[code]

Godbold link with example

https://godbolt.org/z/x3e4rKT89

[2022-03-11 14:50] schaumb commented on #164
weird. It's probably a compiler optimization bug.

If you reference one of the enum value, the problem is gone.
https://godbolt.org/z/cj5b1ETxc

[2022-03-11 14:56] schaumb commented on #164
gcc works, only clang optimize out enum names:

[code]

[2022-03-11 15:25] schaumb opened #165 "clang 5 build is broken"
https://godbolt.org/z/aMod7MoKK

[This commit caused](https://github.com/Neargye/magic_enum/pull/137/files#diff-672cedb46a42e43a8461d9bcec5b1616fe537c2d9451544b896786f632324f7dR517) which helped me for gcc8.

I think curly braces can be solve the problem (or explicit array template parameters)

[2022-03-11 15:41] schaumb commented on #150
I think these containers not fits to the `magic_enum.hpp` header file.

Probably it need to put to an another header file, like `magic_enum_containers.hpp`.

But then the library looses the "only one header" property.
What do you think @Neargye ?

[2022-03-11 16:03] Neargye commented on #150
Are we missing something the current api? Do we need containers?
[code]

[2022-03-11 17:28] schaumb commented on #151
https://godbolt.org/z/3T8dq56Mz

It is possible :)

What do you think @Neargye ?

[2022-03-11 17:53] schaumb commented on #150
Something like that, but with constexpr functions, and stl-like api (in C++17).

[2022-03-14 16:37] Neargye commented on #165
Are you using clang 5?

[2022-03-14 18:26] schaumb commented on #165
No, just the "Limitations" says It's working with clang 5.

[2022-03-14 19:23] Neargye commented on #165
Oh yes, I think it's time to up version.

[2022-03-14 23:23] schaumb commented on #164
I think it is a limitation because of the compiler  optimization.  It is need to mentioned on the Limitation page.

[2022-03-15 11:28] abdes opened #167 "magic_enum.hpp:1018:22: error: declaration of ‘D value’ shadows a parameter [-Werror=shadow]"
As GCC said...
It's just a warning but it's not difficult to fix and does not justify a disable warning just for magic_enum...

[code]

[2022-03-15 11:36] Neargye commented on #167
Fix in master, thanks!

[2022-03-15 11:43] #167 closed, assigned to nobody

[2022-03-17 17:16] schaumb commented on #104
So we are waiting for the [PR](https://github.com/Neargye/magic_enum/pull/168)

I found [another boost:: solution](https://www.boost.org/doc/libs/develop/libs/mp11/doc/html/mp11.html#mp_with_indexni_f) for the constexpr switch.

It generates 1..16 the switch cases, and for bigger intervals does a logarithmic search with runtime halving. [the code is here](https://www.boost.org/doc/libs/1_78_0/boos

[2022-03-17 18:46] Neargye commented on #165
will be up to clang-6

[2022-03-17 18:46] #165 closed, assigned to nobody

[2022-03-18 09:58] #153 closed, assigned to nobody

[2022-03-22 11:42] Neargye commented on #151
It looks interesting.

[2022-03-22 21:09] tomjohnstone commented on #151
Unfortunately the enum value passed into the formatter needs to be a constexpr or else you get a compiler error, when using MSVC

[2022-03-22 21:57] Neargye commented on #151
Could you show example and the text of the error? @tomjohnstone

[2022-03-28 08:25] pholat opened #171 "magic_enum::enum_name() doesn't work for boolean enum"
Compiling with c++17 on GCC 11.2.0:

[code]

will result in:

`magic_enum/include/magic_enum.hpp:355:42: error: use of an operand of type ‘bool’ in ‘operator++’ is forbidden in C++17`

This is caused by log2 implementation.

The cleanest solution would be to add override for bool:
[code]
Please let me know if it's acceptable so I would create a PR with it, or would you like different solution.

[2022-03-28 14:55] #171 closed, assigned to nobody

[2022-03-28 15:31] Neargye commented on #171
fix in master, thanks for report

[2022-03-29 10:04] tomjohnstone commented on #151
Apologies, I went back to create a repro and it's working now. I must have made a copy and paste error when I tried putting your code into my codebase. Thank you very much @schaumb !

[2022-03-29 10:26] Neargye commented on #162
@gpollo could you please make a PR with a description in the readme of how to integrate with meson

[2022-03-30 15:40] OlivierLDff opened #174 "enum_values fail when offset is bug"
Hi, thanks for the incredible library.
Here is my issue:

This work (Output is RED BLUE GREEN)

[code]

But this doesn't (Output is RED BLUE)

[code]

Example:
https://wandbox.org/permlink/Z3cCG637jrIbgwsx

Is there something I'm doing wrong?

[2022-03-30 15:49] OlivierLDff commented on #174
Sorry my bad I found about `MAGIC_ENUM_RANGE_MAX` in [limitation](https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md#limitations) document.

Would have been nice to have some kind of static warning. I don't know if it is feasable.
Also what are the drawback of setting high range max?

[2022-03-30 15:49] #174 closed, assigned to nobody

[2022-03-31 11:13] abdes opened #175 "GCC: conversion to unsigned int warning ( [-Werror=sign-conversion])"
[code]

`c` is signed, but `crc` is unsigned, the conversion is ok, but can you please make it explicit so we don't have to disable this useful GCC warning, locally or globally, just because of this?

[code]

[2022-03-31 13:48] #175 closed, assigned to nobody

[2022-04-04 00:44] viniciusferrao commented on #101
Sorry but I don't get it. I think I have a similar issue here, but in my case I would like to do case insensitive conversions from `string` to `enum`.

As an example:

[code]

It would be much more cleaner if I could just do:

[code]

With the second implementation adding a new distribution is easy as adding a new field on my `enum class` declaration.

You may argue that I should just store the `e

[2022-04-04 09:13] Neargye commented on #101
I think you already have an option.
[code]

[2022-04-05 04:43] viniciusferrao commented on #101
Thanks @Neargye that done the work perfectly. I'll wait the "syntactic sugar" feature on the next release, but for now your trick is great.

I don't get it exactly yet, but I'll figure out what's happening.

[2022-04-05 08:39] Neargye commented on #101
You can use like this. @viniciusferrao
[code]

[2022-04-05 17:51] viniciusferrao commented on #101
I'm looking forward to this. Just waiting the next release of magic_enum.

[2022-04-07 12:27] breyerml opened #177 "Feature Request: automatic istream operators"
Would it be possible to automatically generate `operator>>` together with `operator<<`?

Background: we are using cxxopts to parse command-line arguments.
cxxopts supports parsing them directly to enums **if** a corresponding `operator>>` exists.
This is currently unfortunately not the case.
I'm currently using something like:
[code]
Would it be possible to add something like this?

[2022-04-07 14:08] Neargye commented on #177
I think I can add, but to be honest, I'm not fully able to correctly handle errors inside operator>>. Is ` in.setstate(std::ios::failbit);` enough?

[2022-04-07 14:16] breyerml commented on #177
At least setting `in.setstate(std::ios::failbit);` is the only thing done in the canonical implementation of `operator>>` on cppreference (https://en.cppreference.com/w/cpp/language/operators).

[2022-04-07 15:20] Neargye commented on #177
add to master namespace magic_enum::istream_operators

[2022-04-07 15:26] #177 closed, assigned to nobody

[2022-04-14 10:32] HerrDingenz opened #178 "linking error"
I have 2 projects - a core library and a main project that depends on the core library.
I have to include magic_enum.hpp in both projects and when compiling i get a linking error (LNK2005):

`public: __cdecl magic_enum::detail::default_result_type_lambda<void>::<lambda>::operator()(void)const '::1'::__LINE__Var" (?__LINE__Var@?0???R<lambda>@?$default_result_type_lambda@X@detail@magic_enum@@QEBA@XZ

[2022-04-14 13:56] Neargye commented on #178
Oh, yes `inline` fix this problem

[2022-04-14 13:58] Neargye commented on #178
Fix in master, thanks!

[2022-04-14 13:58] #178 closed, assigned to nobody

[2022-04-14 14:51] HerrDingenz commented on #178
You're welcome and thanks :)

[2022-04-16 23:57] Sage-of-Mirrors opened #179 "Compiler Error with Discontiguous Range"
I have several enums where the defined values do not cover all of a range. Here is an example:

[code]

Previously, I had been using `magic_enum::enum_name()` to successfully retrieve the name from a variable of these enum types. However, upon updating to the latest version of magic_enum, I now encounter various instances of this compiler error when using `enum_name()` with them:

[code]

I am uns

[2022-04-17 12:31] Neargye commented on #179
@schaumb could you please look at it?

[2022-04-17 18:42] schaumb opened #180 "compile error on main"
The current main branch is not compiling, because `std::ios` forward declaration usage.

https://godbolt.org/z/e8jM8j968

[2022-04-17 19:32] #180 closed, assigned to nobody

[2022-04-17 19:32] Neargye commented on #180
Thanks, forgot about this.

[2022-04-17 19:41] Neargye commented on #179
Thanks a lot for the fix @schaumb. @Sage-of-Mirrors could you check the new version?

[2022-04-17 19:43] Sage-of-Mirrors commented on #179
Yup, I pulled and tested when I saw it get merged. It's fixed! Thanks so much. 😄

[2022-04-17 19:43] schaumb commented on #179
The main problem was that `calculate_cases` constexpr switch helper function wrongly calculated the sparse `uint_8` based enum remaining cases.
this is why `case 0:` appeared multiple times.
So now it will work :)

[2022-04-17 19:46] #179 closed, assigned to nobody

[2022-05-05 12:40] Timple opened #183 "Feature request: `enum_name<Color>`"
Would it make sense to have a shorthand for enum_name which can cast?

Such that this:
[code]
Or more accurately this:
[code]
can become this:
[code]

[2022-05-05 17:56] pthom opened #184 "g++ 11.2: Compile error (`magic_enum::detail::count_v<Color>' has incomplete type`)"
Hello,

I encountered a compilation error with g++11.2.0.

[code]

With the following code:

[code]

As a workaround, if I uncomment the line `std::size_t color_count = magic_enum::enum_count<Color>(); (void)color_count;`, then the compiler is happy. Strange!

Here is the complete log:
[code]

[2022-05-05 19:55] Neargye commented on #184
Check fix in master please.

[2022-05-05 20:11] #184 closed, assigned to nobody

[2022-05-05 20:45] Neargye commented on #183
It seems to me that such an opportunity would be better than anything, it will also be possible to easily expand other functions
[code]

[2022-05-06 05:01] Timple commented on #183
Sorry, I am not following. What is your proposal?

[2022-05-06 12:32] Neargye commented on #183
add
[code]

it's allow wtire
[code]

[2022-05-06 16:38] pthom commented on #184
Wow, this is first class service! Thanks a lot, the fix works perfectly.

Warm thoughts from Paris. My heart stands with Ukraine and Kyiv.

[2022-05-10 17:35] #99 closed, assigned to nobody

[2022-05-10 17:35] #134 closed, assigned to nobody

[2022-05-12 09:52] miyanyan commented on #77
I got the error when set range [0, 10000] while [0, 1000] works fine if using msvc2017

[2022-05-13 13:46] schaumb commented on #157
Same for MAGIC_ENUM_USING_ALIAS_STRING, and MAGIC_ENUM_USING_ALIAS_STRING_VIEW

[2022-05-13 14:09] Neargye commented on #157
Thanks! Almost forgot about them.

[2022-05-23 09:04] lglgdouble opened #186 "magic_enum/example/CMakeLists.txt"
manual
set(MAGIC_ENUM_OPT_BUILD_EXAMPLES ON)

target_link_libraries(${target} PRIVATE ${CMAKE_PROJECT_NAME})

target_link_libraries(${target} PRIVATE ${PROJECT_NAME}) ？

[2022-05-23 09:54] Neargye commented on #186
Sorry, I didn't quite understand the question.

[2022-05-23 18:32] schaumb commented on #150
https://github.com/Neargye/magic_enum/compare/master...schaumb:containers?expand=1

I started my own solution.
Currently I only created constexpr `magic_enum::containers::array<E, V>` and `magic_enum::containers::bitset<E>` (std::bitset is not constexpr in latest standard)

`bitset` can be useful to transform not flag enums to 'flagged'.

I think other `array` constructions (which contains enums a

[2022-05-23 18:44] Neargye commented on #150
FYI, hope [bitset will be constexpr  soon ](https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2021/p2417r1.pdf)

Could you please make a PR, so it will be more convenient to check?

[2022-05-24 01:47] lglgdouble commented on #186
an error occurs when I manually set the "set(MAGIC_ENUM_OPT_BUILD_EXAMPLES ON)"

[build] /home/cyc/self/ayaoho/3rdparty/magic_enum/example/example_custom_name.cpp:25:10: fatal error: magic_enum.hpp: No such file or directory
[build]    25 | #include <magic_enum.hpp>
[build]       |          ^~~~~~~~~~~~~~~~
[build] /home/cyc/self/ayaoho/3rdparty/magic_enum/example/enum_flag_example.cpp:26:10: fata

[2022-05-24 17:16] schaumb commented on #150
today's conclusion: `containers::map<E, mapped_type>::insert` can be constexpr in c++17 only if any of the following condition is met to `mapped_type`:
- `trivially_assignable` (union)
- `default_constructible` (array)
- has constructor which can be called with default constructed arguments (array)
- explicitly grant an object as "default/invalid" element (array)

note0: (union) procedure will be

[2022-05-27 13:22] bamo-gemini opened #190 "signed/unsigned mismatch warning in visual studio 17.2.2 when enum_cast-ing integers to enum-values."
The underlying type of the enum class is int.
See image below. Ask me for details, I can make a simple reproducable case if necessary.

![bilde](https://user-images.githubusercontent.com/35224692/170707469-1cb34b3b-cea5-4f78-962d-d7d106b9a2bc.png)

[2022-05-27 17:46] schaumb commented on #190
Hi @bamo-volue ,

Thanks for the issue report.
I can [reproduce](https://godbolt.org/z/czYbaMGn9) the problem.
I will find a solution shortly.

[2022-06-02 15:56] johnco3 opened #192 "declaration of 'last' hides global declaration"
I found the following warning in my windows build.  Looks like it has not been addressed.  I renamed the inner variable `last` something else to work around the issue.  Note that the vcpkg port also has this issue and vcpkg is not using the latest magic_enum port.

[link to vcpkg issue](https://github.com/microsoft/vcpkg/issues/25045)

[code]

[2022-06-02 16:21] Neargye commented on #192
could you specify the version of the library you are using?

[2022-06-02 17:31] johnco3 commented on #192
not sure from within vcpkg, I perform a git pull before doing a build (so whatever version is at the head in vcpkg as of today).   (edited June 8th 2022) In answer to your question - Verified version in vcpkg is version 8.0.0.  This is 1 commit behind head - i.e. the "Fix compilation error, when including magic_enum after windows.h" commit is not included (which is also a problem, however I manual

[2022-06-02 17:56] Neargye commented on #192
Could you show an example where this error occurs?

[2022-06-03 12:23] schaumb commented on #192
I think this restriction is nonsense. This means you cannot name your local (function scoped) variable as you wish, because of an other package, other namespace global variable.

[2022-06-04 17:15] Neargye commented on #192
It seems to me that there may be a problem with capturing the lambda context, which is why I would like to see an example.

[2022-06-08 15:34] noujaimc opened #193 "Support wide char"
Is it possible to support wide char ?

#define MAGIC_ENUM_USING_ALIAS_STRING_VIEW using string_view = std::wstring_view;
#define MAGIC_ENUM_USING_ALIAS_STRING using string = std::wstring;
#include "magic_enum.hpp"

wstring_view name = magic_enum::enum_name(Color::Red);

[2022-06-08 23:22] johnco3 commented on #192
Sorry for the late response, but I added the detail over in the vcpkg site
https://github.com/microsoft/vcpkg/issues/25045#issuecomment-1150056479

[2022-06-16 09:06] schaumb commented on #193
Without `MAGIC_ENUM_OPT_ENABLE_NONASCII` it can be easily support wide char, because (usually) wchar_t encoding backward compatible with ASCII, and transition can be made compile time.
With NONASCII characters the conversion is not that simple, because non-trivial UTF-8 to UTF-(16/32) mapping, and a lot of type traits needed, constexpr time.

[code]

[2022-06-28 09:33] ghost opened #195 "magic_enum 0.8.0 fails to compile with latest MSVC17"
Hey after upgrading magic enum from 0.7.3 to 0.8.0 (from Conan-center) I'm Encountering compiler errors with latest MSVC17 (at the time of writing VS 2022 17.2.5).
I

The Compile error occurs when FreeRTOS.h is included before magic_enum.hpp

[code]

this line from magic_enum.hpp causes the error
[code]

[code]

Could you try to reproduce this issue?
thank you :)

[2022-06-28 10:00] ghost commented on #195
I Think I found a solution.
There is a small difference between the conan center version 0.8.0 and the latest version from the master branch

Latest master Version
`acc = ((acc ^ static_cast<std::uint64_t>(c)) * static_cast<std::uint64_t>(16777619ULL)) & (std::numeric_limits<std::uint32_t>::max)();`

Conan Center 0.8.0
`
acc = ((acc ^ static_cast<std::uint64_t>(c)) * static_cast<std::uint64_t>(167

[2022-06-28 10:44] Neargye commented on #192
@johnco3 please test master

[2022-06-28 10:44] #190 closed, assigned to nobody

[2022-06-28 10:57] #164 closed, assigned to nobody

[2022-06-28 10:58] Neargye commented on #151
add in master, will be in v0.8.1 or v0.8.2

[2022-06-28 11:02] Neargye commented on #195
planned release after close all in https://github.com/Neargye/magic_enum/milestone/1

[2022-06-28 11:02] #195 closed, assigned to nobody

[2022-06-28 11:03] Neargye commented on #104
Looks like it can be closed?

[2022-06-29 11:09] Julien-Blanc-tgcm commented on #150
You might want to have a look at https://github.com/Julien-Blanc-tgcm/indexed_array . I just added magic_enum support, and i think it provides what you want (unless you need iteration on both the key and the value, which is not yet provided)

[2022-06-29 11:13] Julien-Blanc-tgcm opened #196 "Provide reflection data as compile time lists rather than array"
Working with arrays in a compile time context is not the easiest thing. It is much more convenient to work with integer_list. Boost describe ( https://www.boost.org/doc/libs/1_79_0/libs/describe/doc/html/describe.html ) provides also reflection on enums, but uses a slightly different structure:

«

A descriptor list is a type of the form L<D1, D2, …​, Dn>, where L is of the form template<class…​ T

[2022-06-29 12:34] Neargye commented on #196
Oh, I haven't seen this library in boost yet, I'll take a look at it.

[2022-06-30 07:03] schaumb commented on #150
Thanks @Julien-Blanc-tgcm , It is a nice library.

Why is the iterators and the modification functions are not constexpr?
What if Value is not default constructible?

I started to implement not only enum_array, but enum_map, enum_bitset, enum_set.

[2022-06-30 10:43] Julien-Blanc-tgcm commented on #150
Thanks for spotting the missing constexpr. It may be better to discuss this in indexed_array issue tracker, though. As for non default constructible values this is not an issue if they are provided at initialization (just like a plain std::array).

[2022-07-09 11:06] rkorzeniewski opened #197 "Missing enum names"
I have a strange behavior of `magic_enum/0.8.0` for the following code (c++17 / gcc (Debian 10.2.1-6) 10.2.1 20210110):
[code]
which produces the following output:
[code]
For the unknown reason `magic_enum` ignores all enum values which are > 127 (0x7f) - missing two values: 0xB2 and 0xFF in the above example. I have no problem using this enum in my code and it works as expected, so I assume a cod

[2022-07-09 11:11] rkorzeniewski commented on #197
OK, ignore me. Found a [limitation](https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md). How I miss this before?

[2022-07-09 11:11] #197 closed, assigned to nobody

[2022-07-10 04:09] twoone-3 opened #198 "VS2022 IntelliSence Error E0095"
[code]
When I compile the project with VS2022, the compiler reports this error, my compiler option is C++17, but it compiles and runs without problems, I hope you can check the reason.

[2022-07-11 13:51] Sarna555 opened #199 "Support no default value enum_switch"
would it be possible to support enum_switch the way that we're used to use overload pattern with std::visit?
e.g

[code]
instead of

[code]
I think forcing adding default Result produces boilerplate.

[2022-07-11 15:59] Neargye commented on #199
If you need to iterate over all values ​​then use `enum_for_each`

`enum_switch` does not take a default value, it takes a value that will be handled in the switch

[2022-07-12 07:48] Sarna555 commented on #199
Yes, sorry I made a mistake in the example above.

[code]

I'm taking about return value of enum_switch
from docs
[code]

If I want to return a value from enum_switch (Result is not void) I need to pass additional argument and It'd be nice not being forced to do so.

[2022-07-12 09:29] Neargye commented on #199
[code]

see https://github.com/Neargye/magic_enum/blob/master/example/example_switch.cpp

[2022-07-12 10:20] Sarna555 commented on #199
ok, but I still need to specify the return type explicitly.
In case of `std::visit` as long as all the lambdas in overload return the same value there is no need for additional code.

[code]

[2022-07-12 12:06] Neargye commented on #199
I'll see what i can do

[2022-07-12 12:10] Neargye commented on #198
It's looks like VS problem https://github.com/Neargye/magic_enum/issues/122
I don't know how to fix this inside library/

[2022-07-12 12:25] twoone-3 commented on #198
but, from #122 I know that he can add `static_assert` to fix this problem.
Why do you say you do not know it？

[2022-07-12 12:41] Neargye commented on #198
see https://github.com/Neargye/magic_enum/pull/125

[2022-07-20 12:45] Korsar13 opened #200 "nested magic_enum::enum_switch -- failed on msvc?"
https://gist.github.com/Korsar13/5c171d0cd0b47d62276cac07b6b6a184

compiled by clang, prints
[code]

msvc compilation fails,
`mm.cpp(39): error C2893: Failed to specialize function template 'void convert_tmpl(const TSrc *,TDst *,size_t)'`

[2022-07-21 04:31] Korsar13 commented on #200
initial code (compiled by msvc _without errors_, but **wrong result**) -- https://gist.github.com/Korsar13/f993beaa52947a0ce42a632602e2aecf

[2022-07-21 20:47] schaumb commented on #200
Hi!

The problem here is not the magic_enum library, but that MSVC handles the nested lambdas.
As you [can see](https://godbolt.org/z/qWKvzMcWT), if the nested `enum_switch` not use the outside type, the code compiles.

Probably the compiler wants to simplify lambdas instantiation, that's why It don't want to create new lambda types for all enum / different usings.

This problem can be eliminated

[2022-07-21 21:03] schaumb commented on #200
From the library side:

This issue can be eliminated with the following techniques:
- make `magic_enum::enum_for_each` and `magic_enum::enum_switch` to handle variadic arguments, and generate all enum combination calls, or the multiple switch call. The enum_switch implementation will be tricky.
These calls can be slow at compile time.
- create [magic_enum::bind_front](https://en.cppreference.com/w

[2022-07-21 21:53] schaumb commented on #199
The switch is not required to handle all cases (especially unrecognized values), so when explicitly isn't set the result (or the type) for the `magic_enum::enum_switch` call, the result type cannot be guessed for all case return value.

---

What will be the result for example 4 different result type without explicitly set the result? `std::common_type<R1, R2 ...>`? And if it isn't constructible,

[2022-08-03 17:29] Neargye commented on #192
Will be released, if still presents, please open new issues

[2022-08-03 17:29] #192 closed, assigned to nobody

[2022-08-05 10:11] doodlum commented on #198
Is there a workaround for now, because commenting out the header to get intellisense is very frustrating.

[2022-08-05 11:37] Neargye commented on #198
@doodlum @twoone-3  test master, please

[2022-08-05 13:33] hokein opened #204 "Breakage in Clang trunk"
Clang has recently [addressed](https://reviews.llvm.org/D130058) an https://github.com/llvm/llvm-project/issues/50055 where it failed to diagnose the UB of casting an out-of-range integer to an enum in a constant expression.

Since undefined behavior is not allowed in a constant expression, Clang now prohibits `enum test { zero }; constexpr int g = static_cast<test>(-1);` with `error: constexpr va

[2022-08-05 14:03] Neargye commented on #204
do you have an example error?

[2022-08-05 14:07] hokein commented on #204
Below is clang diagnostics:

[code]

[2022-08-05 14:16] Neargye commented on #204
Thanks, I will think about what can be done.

[2022-08-07 09:02] twoone-3 commented on #198
The error is still exist, line 198

[2022-08-08 09:48] Neargye commented on #204
@hokein https://reviews.llvm.org/D131307 If this is included as an error(now warning) in future releases, the library may still stop working. I don’t know yet how to make the option work without an enumeration range.

[2022-08-08 10:01] Neargye commented on #204
Look like can use `-Wno-error=enum-constexpr-conversion` but it's required a change on the user build config, as I know inside the library we can change the error via pragma.

[2022-08-08 10:16] Neargye commented on #198
I tried something else fix in master, but honestly ran out of ideas.

[2022-08-08 12:22] hokein commented on #204
Thanks for the quick replies!

Yeah, the library can live with the downgraded warning, but this is a **temporary** solution to give users time to cleanup their codebase, this warning will be upgraded to an error in the future (clang16 or later).

Some options to overcome the issue in client sides:
1. set a underlying type for all enums
2. use the `magic_enum::customize::enum_range` to set the min/

[2022-08-08 16:59] Neargye commented on #204
@hokein Can you please check the clang trunk where there is a change about enums? I checked on [godbolt](https://godbolt.org/z/czrjGx9fj) and it seems to be working.

[2022-08-08 20:36] hokein commented on #204
The patch should be available in the clang trunk on godbolt, I can see the [error](https://godbolt.org/z/qfb1beE9r) on a simple sample.

Oh, interesting, I can confirm it works on the main branch, but not in any release revision (I saw the error on v0.8.1 as well), I think it is fixed by your recent [change](https://github.com/Neargye/magic_enum/commit/95641a8f78da649f73b5cdd2b13bb65a5113d11b)?

[2022-08-08 20:49] Neargye commented on #204
Yes, I just today find and upload a fix.
I checked for godbolt, but the release version(v0.8.1) does not work, the master worked

[2022-08-08 20:51] #104 closed, assigned to nobody

[2022-08-08 21:02] Neargye commented on #199
@schaumb
I like the option to make it consistent with the std::visit, so that there is a fallback for all possible enums or defaults.
This is also consistent with the enum warnings switch that you need to case all values ​​or the default case.

If you don't mind, I can add the necessary traits for the checks inside the function.

[2022-08-08 21:03] Neargye commented on #204
If the fix works for you, I will try to prepare a release as soon as possible.

[2022-08-09 11:38] Neargye commented on #204
The new commit(https://reviews.llvm.org/D131307) changed the behavior again, now the workaround doesn't work again

[2022-08-09 11:48] Neargye commented on #204
added `clang diagnostic ignored "-Wenum-constexpr-conversion"`

[2022-08-09 12:40] Neargye commented on #204
Ok, new [fix](https://github.com/Neargye/magic_enum/commit/51d20f4d1897d52af4c4d0f7b3487d5a6ff63e22) it's work without `clang diagnostic ignored "-Wenum-constexpr-conversion"` and work on new clang trunk with https://reviews.llvm.org/D131307

__Please, do not tell anyone how to bypass this diagnostic__ 😃

[2022-08-09 13:07] schaumb commented on #199
If  I wrote a swich, I don't need to write all case / default.

I think this is an another use-case, and probably not a `switch` but a `visit`.
I think this can be a different function which uses `enum_switch` with type-traits check, to handle all case + default, and guess the result type.

`enum_visit` ?

[2022-08-09 15:09] schaumb commented on #204
Nice workaround!

This issue is linked already to the llvm-project bug.

[2022-08-09 15:18] Neargye commented on #204
👀 If there are any other related clang commits to this, please send me the links. I have not found anything new yet, I hope the clan will not change anything retaled enum.

For now, it looks to work for the clang trunk.

[2022-08-10 08:43] Neargye commented on #204
New changes https://reviews.llvm.org/D131528 👀 wait to update on godbolt to check.

[2022-08-10 11:54] Neargye commented on #204
Added clang15 and clang16 to CI

[2022-08-11 16:12] Neargye commented on #204
Okay, still work on clang trunk. I close this, if again there are some breaking changes and I don’t notice, open a new issues.

[2022-08-11 16:12] #204 closed, assigned to nobody

[2022-08-13 14:09] #157 closed, assigned to nobody

[2022-08-14 12:43] #163 closed, assigned to nobody

[2022-08-14 19:21] Neargye commented on #198
Did it help in any way?

[2022-08-15 00:48] twoone-3 commented on #198
I haven't tested it yet, I'll try it now

[2022-08-15 00:51] twoone-3 commented on #198
It work! Thank you!

[2022-08-15 00:52] #198 closed, assigned to nobody

[2022-08-17 02:28] MarkusMiller opened #207 "IntelliSense very slow after #include <magic_enum.hpp>"
Hello,

I just stumbled across the issue that IntelliSense somehow stopped working smoothly after including magic_enum.hpp. I noticed this already last week in another cpp-File but couldn't see any reason, why that happened. It also was only present in that file. I just created a new file and included magic_enum.hpp as first header and IntelliSense was slow right after that. It recovers, though, w

[2022-08-18 23:30] calebarist opened #209 "constexpr Hashing Enum ?"
Essentially, a meaningful association between the stringified enum key and the integral value it maps to is desirable.

When communicating an enum across an interface, too often we end up communicating values that mean absolutely nothing.
If they were, instead, the result of passing a string into a constexpr hashing function, then that would add a strong association and more value to the integral

[2022-08-25 01:19] vNaonLu commented on #207
the same issue occurs on vscode with C/C++ v1.12.0 extension.

[2022-09-02 13:01] Neargye commented on #209
Could you give examples? I don’t understand a little why needs hash.

[2022-09-02 13:43] calebarist commented on #209
If you don't have a hash you have to share both what the enum is for and the random value assigned to it to the team working on the other side of the interface.

If you can compute the value which will be transmitted from the name of the enum, it would simplify that process and avoid the bugs that would occur from one side sending an enum value different to what is expected. And needing to modify

[2022-09-02 13:50] Neargye commented on #209
But then there will be a problem if the name of the enum changes.

[2022-09-02 13:52] BrukerJWD commented on #209
Couldn't you just send the enum_name as string if you want to have this constant?

[2022-09-02 13:53] calebarist commented on #209
That is true, the name of the enum element would have to be the same for both parties, but the name is meaningful and probably easier to not change than some random integer value.

I imagine the process would go like:
-create enum keys
-stringify enum keys with C preprocessor macro or other tool
-constexpr compute the hash code for the stringified enum keys
-associate the computed value back to th

[2022-09-02 13:58] BrukerJWD commented on #209
But the integer value isn't random :)
If you want specific ones that shall not change you can assign them explicitly to make this clear, otherwise they start at 0 and are incremented. That's definied by the C++ standard and definitely not random.
These values only change if you insert a new enum value before another and only have implicit integers.

    enum class {
        A = 0,
        B = 1,

[2022-09-02 14:01] calebarist commented on #209
one side of the interface may implement only a subset of the other (being one of many clients, for instance), the integer value associated is certainly random because they might not also apply an ordering to the enum keys, which would be even more information to pass between projects

[2022-09-02 14:14] BrukerJWD commented on #209
Sharing common headers used for communication between these projects may be a good idea anyway ;)

If not doing so:
I agree that one would not want to communicate a certain order in the enum. That's why you can make their integer values explicit! If explicit, they are required and cannot be removed. On the other hand, the enum gives freedom to change the name of the enum key to something more appr

[2022-09-02 14:31] calebarist commented on #209
Often the projects are in different programming languages so sharing headers exists in documentation probably.
Yes it would have to detect collisions and issue an error/warning about them.

But ok if it's not something you're interested in, maybe I will play around with it sometime.

[2022-09-02 14:35] BrukerJWD commented on #209
Projects in different programming languages requires this hash functionality to be implemented identically several times. That sounds like a lot to communicate (especially those parts that one doesn't think of the first time), even if only once per lanugage.

I cannot speak for @Neargye, though.

[2022-09-02 21:53] Neargye commented on #199
@Sarna555 https://github.com/Neargye/magic_enum/pull/212 I tried to improve the deduction of the return type of the enum_switch, but the function signature changed a little

enum_switch will try to deduce return the type, if this is not possible, then you still need have to specify the return type explicitly

[2022-09-02 23:15] Neargye commented on #209
It seems to me that you can make the necessary functionality using the api of this library.
For use in a project with different languages, you can also use your existing hash.  It seems to me wrong to add something from other languages into this library, otherwise will need add to Java, Go and others

[2022-09-02 23:22] #209 closed, assigned to nobody

[2022-09-02 23:37] #148 closed, assigned to nobody

[2022-09-02 23:39] #186 closed, assigned to nobody

[2022-09-06 16:36] shafik commented on #204
We plan on making this a hard error in the next release. If you are using some internal enum type then giving a fixed underlying type should fix things e.g.

[code]

If you are using the enum type from the user internally, perhaps you can switch to using some new internal enum type that has a fixed underlying type?

[2022-09-07 11:40] Sarna555 commented on #199
Yes, this is what I meant, not having to specify the return type.
Is it something that could be merged to the master branch and released?

[2022-09-07 13:22] Neargye commented on #199
I'll take it to the master and release after some additional testing.

[2022-09-08 13:24] Sarna555 opened #213 "Support cartesian product for enum_switch"
Not so good but showing some use case example
[code]

It's similar to what std::visit is doing with std::variant and cartesian product.
Right now I think you need to add enum_switch in enum_switch to achive it and that imo produces boilerplate code.

[2022-09-08 17:58] Neargye commented on #213
It's look simular to https://github.com/Neargye/magic_enum/blob/master/doc/reference.md#enum_fuse

[2022-09-14 10:09] Sarna555 commented on #213
Yes, but it's still doesn't give me the flexibility of std::visit, what I'd like to actually do is

[code]

this way I don't have to write every case manually like with enum_fuse.

[2022-09-22 07:25] Unsigned-Long opened #214 "When enum is marked with a large integer, the function interface fails"
Look at this example. When **Color::RED** is marked as 20, everything is normal.

[code]

But when **Color::RED** is marked as 1000 (a large number), all functions of **magic_enum** will fail.

[code]

I want to know whether this is a feature or a bug, because now I need to mark a large number for a member of an **Enum**.

[2022-09-22 07:37] BrukerJWD commented on #214
I think this is a documented limitation:

see https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md

[2022-09-22 08:13] Unsigned-Long commented on #214
OK, this can explain the reason, but the library has set:
[code]
So I can't define a large number and a small number at the same time. Also, if I set
[code]
Then compilation will take a lot of time.

[2022-09-22 08:13] #214 closed, assigned to nobody

[2022-09-22 08:26] BrukerJWD commented on #214
I think the compilation time is the reason to limit the maximum range to 256, yes.

[2022-09-30 14:46] samhanic opened #215 "Feature request : enum_cast with fallback value"
Hello,
First of all, thanks for the work, this library is really a great improvement over C++ standard enums.

When working with enum_cast, I mostly use has_value() method to set a fallback value when no match have been found.
This pattern is quite repetitive and a shorthand working like this would be great :

[code]

The implementation for this function could look something like:

[code]

[2022-09-30 16:17] Neargye commented on #215
optional already provides similar functionality
[code]

[2022-09-30 20:13] samhanic commented on #215
Great, I had not thought about this possibility.

Maybe it means the documentation would benefit from an example of this type (same for the "String to enum value" part of the readme).

[2022-09-30 22:17] Neargye commented on #215
Will add example.

[2022-10-05 05:47] florianbecker opened #216 "Enum_cast with not defined int will return has_value() == true"
I have created a bad case test for enum_magic and I would like to discuss if this is a bug or not.

[code]
This example will return has_value() == true. But a color with this value is not defined. The following another example will return has_value() == false. So this is correct for me. But this feels like inconsistency.

[code]

Using magic_enum v0.8.1

UPDATE:
Seems like something with bitwise_o

[2022-10-05 08:13] Neargye commented on #216
Yes, the problem is that the library thinks that these are flags.

Now (if you don't use flags) you can do this
[code]

[2022-10-05 10:23] florianbecker commented on #216
Ok, thank you for the workaround. But strict, this is not correct, even if you use flags. Because you cannot represent any enum to that value... but you can represent it as a valid flag value. So if you represent enum_cast<Color>(7) there is no enum for that.

Is this handled as a bug? Or won't fix?

[2022-10-11 15:01] #215 closed, assigned to nobody

[2022-10-18 10:51] schaumb commented on #213
Related: https://github.com/Neargye/magic_enum/issues/200#issuecomment-1191933318

[2022-10-18 12:41] falemagn commented on #213
@Sarna555 Any specific reason you can't use std::variant?

[code]

I've used MyType:: just to keep the analogy with your code more evident, but the code can be simplified a lot if you use the raw types directly.

[2022-10-18 12:42] Sarna555 commented on #213
@falemagn I can and I'm doing it but it would be easier and clear not using it :)

[2022-10-18 12:46] falemagn commented on #213
Well, I beg to differ. It seems easier to directly use the types you need and not allocate any memory on the heap, rather than keeping a list of enums and allocate heap. But ok.

[2022-10-19 08:44] Sarna555 commented on #213
I understand your point, but there are different cases not just this one and sometimes you don't have a comfort to refactor whole code base to not use enum and sometimes it's just convenient to use enum.

[2022-10-30 21:32] 0xGREG opened #217 "Doesn't work on enum classes using bitwise operators for values"
Let's say I have the following enum class:
[code]

Both `enum_name` and `enum_names` fail on `test1` and `test3`.

Is there any possible workaround?

Thanks!

[2022-10-30 21:40] #217 closed, assigned to nobody

[2022-10-30 21:40] 0xGREG commented on #217
Found the limitation, sorry

[2022-10-31 14:43] Germwalker commented on #207
same issue, intellisense slow after including the header

[2022-11-04 16:24] Trass3r commented on #207
The header is heavy on compile-time in general which may be the cause.
#219

[2022-11-04 16:50] Trass3r opened #219 "compile-time optimization"
The code is quite heavy on compile-time and could use some optimizations (e.g. every `enum_cast` takes 1s to instantiate in my test).
`clang` got improved recently to cover `constexpr` evaluations in time traces which will come in handy: https://reviews.llvm.org/D136022.

Half of the parsing time alone is spent on `constexpr_switch` for example, and `is_flags_enum` is very heavy to instantiate bec

[2022-11-04 19:27] Neargye commented on #219
Thank you for your analysis, now I am at least splitting the header into several smaller ones, then I will look at how to optimize functions

[2022-11-05 18:10] Trass3r commented on #219
Seems like all these calls quickly add up:
https://github.com/Neargye/magic_enum/blob/596f00c0db4977f5a6bcc6314c7d4dcc75c5deb2/include/magic_enum.hpp#L556
The variant used for customization also has some overhead.
And that pretty_name function is also a good optimization target since it's called so often. Not sure why it's doing a complicated identifier search, in my [toy code](https://gist.github

[2022-11-07 17:00] #216 closed, assigned to nobody

[2022-11-07 17:00] #199 closed, assigned to nobody

[2022-11-07 17:00] Neargye commented on #216
Fix in master
Will be include in next release

[2022-11-07 17:00] Neargye commented on #199
Fix in master
Will be include in next release

[2022-11-07 17:11] Neargye commented on #219
Good catch
I changed the code a little, now `is_valid` work with `string_view` not `static_string`
For default `constexpr_switch` is disabled, it can be enabled by build options `MAGIC_ENUM_ENABLE_HASH`

[2022-11-07 17:21] Neargye commented on #119
@rpatters1 A bit late, new features have been added

`enum_cast` and `enum_flags_cast`

[code]

Also work "combined" API

[code]

[2022-11-07 19:07] rpatters1 commented on #119
Thank you for the heads up. I check this repo periodically for updates.

[2022-11-07 20:24] florianbecker commented on #216
Thank you. Working perfect.

[2022-11-07 22:56] Trass3r commented on #219
Though it's probably faster to just hard-code the offsets: https://godbolt.org/z/exqMMq5G3
A little less generic but the whole trick is already highly compiler- and implementation-dependent anyway.
But some benchmarking needs to be done.

[2022-11-08 04:36] maliberty opened #220 "inconsistent clang version requirement"
On https://github.com/Neargye/magic_enum/blob/master/doc/limitations.md:
"works on Clang >= 5"

while on https://github.com/Neargye/magic_enum
Compiler compatibility
Clang/LLVM >= 6

which is it 5 or 6?

[2022-11-08 09:02] Neargye commented on #220
"works on Clang >= 6"

[2022-11-08 09:02] #220 closed, assigned to nobody

[2022-11-08 09:56] Neargye commented on #219
It seems to me that the optimization `pretty_name`  is not so critical, could you restart the profiler and see if it got better after update?

[2022-11-09 15:06] Trass3r commented on #219
It is cause it gets called max-min times via is_valid for each enum after all. Even after my optimization `n` still takes ~300us, times 240 = at least 80ms per enum. But there's additional overhead so `values` takes more than 300ms per enum.
The parsing overhead for constexpr_switch is gone though. Now the parsing is dominated by the `variant` include and its instantiation inside enum_name.

[2022-11-09 15:46] Neargye commented on #219
I'll try to replace the variant with something like tuple, I need to think about it.

[2022-11-09 16:20] Trass3r commented on #219
The profile was a bit skewed though due to other includes in the `test.cpp` code.
A good base benchmark for the "fixed" costs is to compile
[code]
Parsing took 400ms in this run, (166ms of which is for <string> which would often already be included like in the test code):
https://gist.github.com/Trass3r/e193286d4c2d040324140a843d007578

Still, `variant` is a less commonly used header and if it can

[2022-11-09 16:29] Neargye commented on #219
Yes, I thought it would be better to take std::pair

[2022-11-11 12:28] BIGGIE27 opened #222 "Why GCC8 is not supported?"
I'm curious, this is a c++17 library, in theory GCC8 is enough, so why we need GCC9 to use it?

[2022-11-11 14:33] Neargye commented on #222
magic_enum use intrinsics - namely `PRETTY_FUNCTION`, on GCC < 9 `PRETTY_FUNCTION` not can get name enum.

[2022-11-11 14:33] #222 closed, assigned to nobody

[2022-11-11 15:23] BIGGIE27 commented on #222
I understand, thank you

[2022-11-26 11:34] shmonck opened #224 "extended character 😃 is not valid in an identifier"
OS: `5.9.16-1-MANJARO #1 SMP PREEMPT Mon Dec 21 22:00:46 UTC 2020 x86_64 GNU/Linux`
CC: `g++ (GCC) 12.1.0`

after running cmake && make install I'm getting:
[code]

[2022-11-28 12:33] Neargye commented on #224
Fixed in master

[2022-11-28 12:33] #224 closed, assigned to nobody

[2022-11-28 22:58] Neargye commented on #207
@MarkusMiller @Germwalker @vNaonLu  Could you please check how it is now on the latest master?

[2022-11-29 11:10] MarkusMiller commented on #207
Will try it in the next days and get back to you

[2022-11-30 09:51] Germwalker commented on #207
It's better for me ! Seems to be as transparent as other libs. Thank you !

[2022-11-30 12:37] MarkusMiller commented on #207
It seems to work now. Thank you

[2022-11-30 13:10] vNaonLu commented on #207
Sorry for the late reply. It works for me now. Thank you.

[2022-11-30 18:10] Neargye commented on #219
I don't have new idea what can be optimized yet.
Considering the messages from #207, compile time has become better, I think we can close this.
If there are new ideas for improvement, be sure to let me know in the new issues.

[2022-11-30 18:10] #219 closed, assigned to Neargye

[2022-11-30 18:10] Neargye commented on #207
Will prepare new release with improvements

[2022-11-30 18:10] #207 closed, assigned to nobody